AddrBook.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="user.opi.ims.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="user.opi.ims.nortelnetworks.com" xmlns:intf="user.opi.ims.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns126="opi.ims.nortelnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="user.opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="ProvisionableEntity">
    <sequence/>
   </complexType>
   <complexType name="AddressBookEntry">
    <complexContent>
     <extension base="tns126:ProvisionableEntity">
      <sequence>
       <element name="buddy" nillable="true" type="soapenc:boolean"/>
       <element name="businessPhoneNumber" nillable="true" type="soapenc:string"/>
       <element name="city" nillable="true" type="soapenc:string"/>
       <element name="emailAddress" nillable="true" type="soapenc:string"/>
       <element name="extension" nillable="true" type="soapenc:string"/>
       <element name="fax" nillable="true" type="soapenc:string"/>
       <element name="firstName" nillable="true" type="soapenc:string"/>
       <element name="group" nillable="true" type="soapenc:string"/>
       <element name="homeAddress" nillable="true" type="soapenc:string"/>
       <element name="homePhoneNumber" nillable="true" type="soapenc:string"/>
       <element name="lastName" nillable="true" type="soapenc:string"/>
       <element name="mobile" nillable="true" type="soapenc:string"/>
       <element name="nickName" nillable="true" type="soapenc:string"/>
       <element name="notes" nillable="true" type="soapenc:string"/>
       <element name="pager" nillable="true" type="soapenc:string"/>
       <element name="primaryContact" nillable="true" type="soapenc:string"/>
       <element name="state" nillable="true" type="soapenc:string"/>
       <element name="webAddress" nillable="true" type="soapenc:string"/>
       <element name="zip" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProvisionException">
    <sequence>
     <element name="defaultMessage" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="FullAddressBookEntry">
    <complexContent>
     <extension base="tns126:AddressBookEntry">
      <sequence>
       <element name="photoURL" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="user.opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns126_AddressBookEntry">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns126:AddressBookEntry[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns126_FullAddressBookEntry">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns126:FullAddressBookEntry[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="modifyAddressBookEntryRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

      <wsdl:part name="in2" type="tns126:AddressBookEntry"/>

   </wsdl:message>

   <wsdl:message name="getFullAddressBookEntryRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="makeBuddyResponse">

   </wsdl:message>

   <wsdl:message name="getFullAddressBookEntryResponse">

      <wsdl:part name="getFullAddressBookEntryReturn" type="tns126:FullAddressBookEntry"/>

   </wsdl:message>

   <wsdl:message name="addAddressBookEntryRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="tns126:AddressBookEntry"/>

   </wsdl:message>

   <wsdl:message name="getBuddiesRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getBuddiesResponse">

      <wsdl:part name="getBuddiesReturn" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="removeUserAddressBookRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="removeAddressBookEntryResponse">

   </wsdl:message>

   <wsdl:message name="modifyAddressBookEntriesRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="impl:ArrayOf_soapenc_string"/>

      <wsdl:part name="in2" type="impl:ArrayOf_tns126_AddressBookEntry"/>

   </wsdl:message>

   <wsdl:message name="getAddressBookWithPhotoRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="makeBuddyRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getLightWeightAddressBookRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getAddressBookRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="modifyAddressBookEntryResponse">

   </wsdl:message>

   <wsdl:message name="addAddressBookEntriesResponse">

   </wsdl:message>

   <wsdl:message name="getAddressBookResponse">

      <wsdl:part name="getAddressBookReturn" type="impl:ArrayOf_tns126_AddressBookEntry"/>

   </wsdl:message>

   <wsdl:message name="addAddressBookEntriesRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="impl:ArrayOf_tns126_AddressBookEntry"/>

   </wsdl:message>

   <wsdl:message name="removeBuddyResponse">

   </wsdl:message>

   <wsdl:message name="modifyAddressBookEntriesResponse">

   </wsdl:message>

   <wsdl:message name="getAddressBookWithPhotoResponse">

      <wsdl:part name="getAddressBookWithPhotoReturn" type="impl:ArrayOf_tns126_FullAddressBookEntry"/>

   </wsdl:message>

   <wsdl:message name="removeAddressBookEntriesRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getAddressBookEntryResponse">

      <wsdl:part name="getAddressBookEntryReturn" type="tns126:AddressBookEntry"/>

   </wsdl:message>

   <wsdl:message name="getLightWeightAddressBookResponse">

      <wsdl:part name="getLightWeightAddressBookReturn" type="impl:ArrayOf_tns126_AddressBookEntry"/>

   </wsdl:message>

   <wsdl:message name="addAddressBookEntryResponse">

   </wsdl:message>

   <wsdl:message name="removeAddressBookEntryRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="removeUserAddressBookResponse">

   </wsdl:message>

   <wsdl:message name="getAddressBookEntryRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="removeBuddyRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="ProvisionException">

      <wsdl:part name="fault" type="tns126:ProvisionException"/>

   </wsdl:message>

   <wsdl:message name="removeAddressBookEntriesResponse">

   </wsdl:message>

   <wsdl:portType name="UserAddressBookMgr">

      <wsdl:operation name="getAddressBook" parameterOrder="in0">

         <wsdl:input message="impl:getAddressBookRequest" name="getAddressBookRequest"/>

         <wsdl:output message="impl:getAddressBookResponse" name="getAddressBookResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="addAddressBookEntry" parameterOrder="in0 in1">

         <wsdl:input message="impl:addAddressBookEntryRequest" name="addAddressBookEntryRequest"/>

         <wsdl:output message="impl:addAddressBookEntryResponse" name="addAddressBookEntryResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="addAddressBookEntries" parameterOrder="in0 in1">

         <wsdl:input message="impl:addAddressBookEntriesRequest" name="addAddressBookEntriesRequest"/>

         <wsdl:output message="impl:addAddressBookEntriesResponse" name="addAddressBookEntriesResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="modifyAddressBookEntry" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:modifyAddressBookEntryRequest" name="modifyAddressBookEntryRequest"/>

         <wsdl:output message="impl:modifyAddressBookEntryResponse" name="modifyAddressBookEntryResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="modifyAddressBookEntries" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:modifyAddressBookEntriesRequest" name="modifyAddressBookEntriesRequest"/>

         <wsdl:output message="impl:modifyAddressBookEntriesResponse" name="modifyAddressBookEntriesResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="removeAddressBookEntry" parameterOrder="in0 in1">

         <wsdl:input message="impl:removeAddressBookEntryRequest" name="removeAddressBookEntryRequest"/>

         <wsdl:output message="impl:removeAddressBookEntryResponse" name="removeAddressBookEntryResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="removeAddressBookEntries" parameterOrder="in0 in1">

         <wsdl:input message="impl:removeAddressBookEntriesRequest" name="removeAddressBookEntriesRequest"/>

         <wsdl:output message="impl:removeAddressBookEntriesResponse" name="removeAddressBookEntriesResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="removeUserAddressBook" parameterOrder="in0">

         <wsdl:input message="impl:removeUserAddressBookRequest" name="removeUserAddressBookRequest"/>

         <wsdl:output message="impl:removeUserAddressBookResponse" name="removeUserAddressBookResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="getAddressBookEntry" parameterOrder="in0 in1">

         <wsdl:input message="impl:getAddressBookEntryRequest" name="getAddressBookEntryRequest"/>

         <wsdl:output message="impl:getAddressBookEntryResponse" name="getAddressBookEntryResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="getBuddies" parameterOrder="in0">

         <wsdl:input message="impl:getBuddiesRequest" name="getBuddiesRequest"/>

         <wsdl:output message="impl:getBuddiesResponse" name="getBuddiesResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="removeBuddy" parameterOrder="in0 in1">

         <wsdl:input message="impl:removeBuddyRequest" name="removeBuddyRequest"/>

         <wsdl:output message="impl:removeBuddyResponse" name="removeBuddyResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="getAddressBookWithPhoto" parameterOrder="in0">

         <wsdl:input message="impl:getAddressBookWithPhotoRequest" name="getAddressBookWithPhotoRequest"/>

         <wsdl:output message="impl:getAddressBookWithPhotoResponse" name="getAddressBookWithPhotoResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="getLightWeightAddressBook" parameterOrder="in0">

         <wsdl:input message="impl:getLightWeightAddressBookRequest" name="getLightWeightAddressBookRequest"/>

         <wsdl:output message="impl:getLightWeightAddressBookResponse" name="getLightWeightAddressBookResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="getFullAddressBookEntry" parameterOrder="in0 in1">

         <wsdl:input message="impl:getFullAddressBookEntryRequest" name="getFullAddressBookEntryRequest"/>

         <wsdl:output message="impl:getFullAddressBookEntryResponse" name="getFullAddressBookEntryResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="makeBuddy" parameterOrder="in0 in1">

         <wsdl:input message="impl:makeBuddyRequest" name="makeBuddyRequest"/>

         <wsdl:output message="impl:makeBuddyResponse" name="makeBuddyResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AddrBook" type="impl:UserAddressBookMgr">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAddressBook">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAddressBookRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAddressBookResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addAddressBookEntry">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addAddressBookEntryRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addAddressBookEntryResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addAddressBookEntries">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addAddressBookEntriesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addAddressBookEntriesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="modifyAddressBookEntry">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyAddressBookEntryRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modifyAddressBookEntryResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="modifyAddressBookEntries">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyAddressBookEntriesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modifyAddressBookEntriesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeAddressBookEntry">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeAddressBookEntryRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeAddressBookEntryResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeAddressBookEntries">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeAddressBookEntriesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeAddressBookEntriesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeUserAddressBook">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeUserAddressBookRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeUserAddressBookResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAddressBookEntry">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAddressBookEntryRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAddressBookEntryResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getBuddies">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getBuddiesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getBuddiesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeBuddy">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeBuddyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeBuddyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAddressBookWithPhoto">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAddressBookWithPhotoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAddressBookWithPhotoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getLightWeightAddressBook">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLightWeightAddressBookRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getLightWeightAddressBookResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getFullAddressBookEntry">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getFullAddressBookEntryRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getFullAddressBookEntryResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="makeBuddy">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="makeBuddyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="makeBuddyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserAddressBookMgrService">

      <wsdl:port binding="impl:AddrBook" name="AddrBook">

         <wsdlsoap:address location="http://localhost:80/sopi/services/AddrBook"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
