AssistantServicesRoute.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="assistantservicesroute.opi.ims.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="assistantservicesroute.opi.ims.nortelnetworks.com" xmlns:intf="assistantservicesroute.opi.ims.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns126="opi.ims.nortelnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ProvisionException">
    <sequence>
     <element name="defaultMessage" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="isDefaultAssistantServicesRouteActivatedResponse">

      <wsdl:part name="isDefaultAssistantServicesRouteActivatedReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="removeDefaultAssistantServicesRouteSettingResponse">

   </wsdl:message>

   <wsdl:message name="getDefaultAssistantServicesRouteRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="removeDefaultAssistantServicesRouteSettingRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="setDefaultAssistantServicesRouteRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="activateDefaultAssistantServicesRouteRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="deactivateDefaultAssistantServicesRouteResponse">

   </wsdl:message>

   <wsdl:message name="isDefaultAssistantServicesRouteActivatedRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="deactivateDefaultAssistantServicesRouteRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="setDefaultAssistantServicesRouteResponse">

   </wsdl:message>

   <wsdl:message name="activateDefaultAssistantServicesRouteResponse">

   </wsdl:message>

   <wsdl:message name="getDefaultAssistantServicesRouteResponse">

      <wsdl:part name="getDefaultAssistantServicesRouteReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="ProvisionException">

      <wsdl:part name="fault" type="tns126:ProvisionException"/>

   </wsdl:message>

   <wsdl:portType name="AssistantServicesRouteMgr">

      <wsdl:operation name="isDefaultAssistantServicesRouteActivated" parameterOrder="in0">

         <wsdl:input message="impl:isDefaultAssistantServicesRouteActivatedRequest" name="isDefaultAssistantServicesRouteActivatedRequest"/>

         <wsdl:output message="impl:isDefaultAssistantServicesRouteActivatedResponse" name="isDefaultAssistantServicesRouteActivatedResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="removeDefaultAssistantServicesRouteSetting" parameterOrder="in0">

         <wsdl:input message="impl:removeDefaultAssistantServicesRouteSettingRequest" name="removeDefaultAssistantServicesRouteSettingRequest"/>

         <wsdl:output message="impl:removeDefaultAssistantServicesRouteSettingResponse" name="removeDefaultAssistantServicesRouteSettingResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="setDefaultAssistantServicesRoute" parameterOrder="in0 in1">

         <wsdl:input message="impl:setDefaultAssistantServicesRouteRequest" name="setDefaultAssistantServicesRouteRequest"/>

         <wsdl:output message="impl:setDefaultAssistantServicesRouteResponse" name="setDefaultAssistantServicesRouteResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="getDefaultAssistantServicesRoute" parameterOrder="in0">

         <wsdl:input message="impl:getDefaultAssistantServicesRouteRequest" name="getDefaultAssistantServicesRouteRequest"/>

         <wsdl:output message="impl:getDefaultAssistantServicesRouteResponse" name="getDefaultAssistantServicesRouteResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="activateDefaultAssistantServicesRoute" parameterOrder="in0">

         <wsdl:input message="impl:activateDefaultAssistantServicesRouteRequest" name="activateDefaultAssistantServicesRouteRequest"/>

         <wsdl:output message="impl:activateDefaultAssistantServicesRouteResponse" name="activateDefaultAssistantServicesRouteResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="deactivateDefaultAssistantServicesRoute" parameterOrder="in0">

         <wsdl:input message="impl:deactivateDefaultAssistantServicesRouteRequest" name="deactivateDefaultAssistantServicesRouteRequest"/>

         <wsdl:output message="impl:deactivateDefaultAssistantServicesRouteResponse" name="deactivateDefaultAssistantServicesRouteResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AssistantServicesRoute" type="impl:AssistantServicesRouteMgr">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="isDefaultAssistantServicesRouteActivated">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isDefaultAssistantServicesRouteActivatedRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="assistantservicesroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="isDefaultAssistantServicesRouteActivatedResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="assistantservicesroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="assistantservicesroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeDefaultAssistantServicesRouteSetting">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeDefaultAssistantServicesRouteSettingRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="assistantservicesroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeDefaultAssistantServicesRouteSettingResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="assistantservicesroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="assistantservicesroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="setDefaultAssistantServicesRoute">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setDefaultAssistantServicesRouteRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="assistantservicesroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setDefaultAssistantServicesRouteResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="assistantservicesroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="assistantservicesroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getDefaultAssistantServicesRoute">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDefaultAssistantServicesRouteRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="assistantservicesroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDefaultAssistantServicesRouteResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="assistantservicesroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="assistantservicesroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="activateDefaultAssistantServicesRoute">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="activateDefaultAssistantServicesRouteRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="assistantservicesroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="activateDefaultAssistantServicesRouteResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="assistantservicesroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="assistantservicesroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deactivateDefaultAssistantServicesRoute">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deactivateDefaultAssistantServicesRouteRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="assistantservicesroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deactivateDefaultAssistantServicesRouteResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="assistantservicesroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="assistantservicesroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AssistantServicesRouteMgrService">

      <wsdl:port binding="impl:AssistantServicesRoute" name="AssistantServicesRoute">

         <wsdlsoap:address location="http://localhost:80/sopi/services/AssistantServicesRoute"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
