AssistantSvcUserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="asstsvc.ws.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="asstsvc.ws.nortelnetworks.com" xmlns:intf="asstsvc.ws.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="common.ws.nortelnetworks.com" xmlns:tns51="route.ws.nortelnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="asstsvc.ws.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="common.ws.nortelnetworks.com"/>
   <import namespace="route.ws.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_ParmsList">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:ParmsList[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="AssistantUserNaturalKeyDO">
    <complexContent>
     <extension base="tns2:UserNaturalKeyDO">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfAssistantUserNaturalKeyDO">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:AssistantUserNaturalKeyDO[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="AssistantEntryNaturalKeyDO">
    <complexContent>
     <extension base="tns2:NaturalKeyDO">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfAssistantEntryNaturalKeyDO">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:AssistantEntryNaturalKeyDO[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="AssistedUserNaturalKeyDO">
    <complexContent>
     <extension base="tns2:UserNaturalKeyDO">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfAssistedUserNaturalKeyDO">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:AssistedUserNaturalKeyDO[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="common.ws.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="asstsvc.ws.nortelnetworks.com"/>
   <import namespace="route.ws.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ParmsList">
    <sequence>
     <element name="parmsList" nillable="true" type="impl:ArrayOf_soapenc_string"/>
     <element name="translate" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="ExceptionParms">
    <sequence>
     <element name="exceptionParms" nillable="true" type="impl:ArrayOf_tns2_ParmsList"/>
    </sequence>
   </complexType>
   <complexType name="ProvisioningException">
    <sequence>
     <element name="commonErrorCode" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
     <element name="methodName" nillable="true" type="soapenc:string"/>
     <element name="parms" nillable="true" type="tns2:ExceptionParms"/>
    </sequence>
   </complexType>
   <complexType abstract="true" name="ProvisioningDataObject">
    <sequence/>
   </complexType>
   <complexType abstract="true" name="NaturalKeyDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="name" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UserNaturalKeyDO">
    <complexContent>
     <extension base="tns2:NaturalKeyDO">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="WSVersionDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="currentVersion" nillable="true" type="soapenc:string"/>
       <element name="mcpVersionAdded" nillable="true" type="soapenc:string"/>
       <element name="mcpVersionLastUpdated" nillable="true" type="soapenc:string"/>
       <element name="supportedVersions" nillable="true" type="impl:ArrayOf_soapenc_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="route.ws.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="asstsvc.ws.nortelnetworks.com"/>
   <import namespace="common.ws.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="RouteNaturalKeyDO">
    <complexContent>
     <extension base="tns2:NaturalKeyDO">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="setDefaultAssistantServicesRouteResponse">

   </wsdl:message>

   <wsdl:message name="getAssistedUserVoiceMailRedirectedAssistantRequest">

   </wsdl:message>

   <wsdl:message name="activateDefaultAssistantServicesRouteResponse">

   </wsdl:message>

   <wsdl:message name="removeAssistantsResponse">

   </wsdl:message>

   <wsdl:message name="deactivateDefaultAssistantServicesRouteResponse">

   </wsdl:message>

   <wsdl:message name="removeAssistedUsersRequest">

      <wsdl:part name="in0" type="impl:ArrayOfAssistedUserNaturalKeyDO"/>

   </wsdl:message>

   <wsdl:message name="setDefaultAssistantServicesRouteRequest">

      <wsdl:part name="in0" type="tns51:RouteNaturalKeyDO"/>

   </wsdl:message>

   <wsdl:message name="addPrimaryAssistantsByUsernameOrDirectoryNumberResponse">

   </wsdl:message>

   <wsdl:message name="getAllAssistantsHavingVoiceMailForUserResponse">

      <wsdl:part name="getAllAssistantsHavingVoiceMailForUserReturn" type="impl:ArrayOfAssistantUserNaturalKeyDO"/>

   </wsdl:message>

   <wsdl:message name="setAssistedUserVoiceMailRedirectedAssistantRequest">

      <wsdl:part name="in0" type="impl:AssistantUserNaturalKeyDO"/>

   </wsdl:message>

   <wsdl:message name="isDefaultAssistantServicesRouteActivatedResponse">

      <wsdl:part name="isDefaultAssistantServicesRouteActivatedReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="getSecondaryAssistantsResponse">

      <wsdl:part name="getSecondaryAssistantsReturn" type="impl:ArrayOfAssistantUserNaturalKeyDO"/>

   </wsdl:message>

   <wsdl:message name="removeAllAssistantsResponse">

   </wsdl:message>

   <wsdl:message name="addSecondaryAssistantsResponse">

   </wsdl:message>

   <wsdl:message name="removeAssistedUsersResponse">

   </wsdl:message>

   <wsdl:message name="getPrimaryAssistantsResponse">

      <wsdl:part name="getPrimaryAssistantsReturn" type="impl:ArrayOfAssistantUserNaturalKeyDO"/>

   </wsdl:message>

   <wsdl:message name="getSecondaryAssistantsRequest">

   </wsdl:message>

   <wsdl:message name="getAssistedUsersRequest">

   </wsdl:message>

   <wsdl:message name="deactivateDefaultAssistantServicesRouteRequest">

   </wsdl:message>

   <wsdl:message name="removeAllAssistedUsersResponse">

   </wsdl:message>

   <wsdl:message name="removeAssistedUserVoiceMailRedirectedAssistantResponse">

   </wsdl:message>

   <wsdl:message name="getAssistedUsersResponse">

      <wsdl:part name="getAssistedUsersReturn" type="impl:ArrayOfAssistedUserNaturalKeyDO"/>

   </wsdl:message>

   <wsdl:message name="removeAllAssistantsRequest">

   </wsdl:message>

   <wsdl:message name="getAllAssistantsForUserRequest">

   </wsdl:message>

   <wsdl:message name="getWSVersionRequest">

   </wsdl:message>

   <wsdl:message name="removeDefaultAssistantServicesRouteSettingResponse">

   </wsdl:message>

   <wsdl:message name="removeAssistantsRequest">

      <wsdl:part name="in0" type="impl:ArrayOfAssistantUserNaturalKeyDO"/>

   </wsdl:message>

   <wsdl:message name="activateDefaultAssistantServicesRouteRequest">

   </wsdl:message>

   <wsdl:message name="isDefaultAssistantServicesRouteActivatedRequest">

   </wsdl:message>

   <wsdl:message name="addSecondaryAssistantsByUsernameOrDirectoryNumberRequest">

      <wsdl:part name="in0" type="impl:ArrayOfAssistantEntryNaturalKeyDO"/>

   </wsdl:message>

   <wsdl:message name="getAssistedUserVoiceMailRedirectedAssistantResponse">

      <wsdl:part name="getAssistedUserVoiceMailRedirectedAssistantReturn" type="impl:AssistantUserNaturalKeyDO"/>

   </wsdl:message>

   <wsdl:message name="setAssistedUserVoiceMailRedirectedAssistantResponse">

   </wsdl:message>

   <wsdl:message name="removeAllAssistedUsersRequest">

   </wsdl:message>

   <wsdl:message name="getPrimaryAssistantsRequest">

   </wsdl:message>

   <wsdl:message name="removeDefaultAssistantServicesRouteSettingRequest">

   </wsdl:message>

   <wsdl:message name="addSecondaryAssistantsRequest">

      <wsdl:part name="in0" type="impl:ArrayOfAssistantUserNaturalKeyDO"/>

   </wsdl:message>

   <wsdl:message name="addPrimaryAssistantsByUsernameOrDirectoryNumberRequest">

      <wsdl:part name="in0" type="impl:ArrayOfAssistantEntryNaturalKeyDO"/>

   </wsdl:message>

   <wsdl:message name="addSecondaryAssistantsByUsernameOrDirectoryNumberResponse">

   </wsdl:message>

   <wsdl:message name="addPrimaryAssistantsResponse">

   </wsdl:message>

   <wsdl:message name="getAllAssistantsHavingVoiceMailForUserRequest">

   </wsdl:message>

   <wsdl:message name="modifyAssistedUserOrderResponse">

   </wsdl:message>

   <wsdl:message name="getDefaultAssistantServicesRouteResponse">

      <wsdl:part name="getDefaultAssistantServicesRouteReturn" type="tns51:RouteNaturalKeyDO"/>

   </wsdl:message>

   <wsdl:message name="ProvisioningException">

      <wsdl:part name="fault" type="tns2:ProvisioningException"/>

   </wsdl:message>

   <wsdl:message name="getWSVersionResponse">

      <wsdl:part name="getWSVersionReturn" type="tns2:WSVersionDO"/>

   </wsdl:message>

   <wsdl:message name="getAllAssistantsForUserResponse">

      <wsdl:part name="getAllAssistantsForUserReturn" type="impl:ArrayOfAssistantUserNaturalKeyDO"/>

   </wsdl:message>

   <wsdl:message name="getDefaultAssistantServicesRouteRequest">

   </wsdl:message>

   <wsdl:message name="removeAssistedUserVoiceMailRedirectedAssistantRequest">

   </wsdl:message>

   <wsdl:message name="addPrimaryAssistantsRequest">

      <wsdl:part name="in0" type="impl:ArrayOfAssistantUserNaturalKeyDO"/>

   </wsdl:message>

   <wsdl:message name="modifyAssistedUserOrderRequest">

      <wsdl:part name="in0" type="impl:ArrayOfAssistantUserNaturalKeyDO"/>

   </wsdl:message>

   <wsdl:portType name="AssistantSvcUserIF">

      <wsdl:operation name="isDefaultAssistantServicesRouteActivated">

         <wsdl:input message="impl:isDefaultAssistantServicesRouteActivatedRequest" name="isDefaultAssistantServicesRouteActivatedRequest"/>

         <wsdl:output message="impl:isDefaultAssistantServicesRouteActivatedResponse" name="isDefaultAssistantServicesRouteActivatedResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="removeDefaultAssistantServicesRouteSetting">

         <wsdl:input message="impl:removeDefaultAssistantServicesRouteSettingRequest" name="removeDefaultAssistantServicesRouteSettingRequest"/>

         <wsdl:output message="impl:removeDefaultAssistantServicesRouteSettingResponse" name="removeDefaultAssistantServicesRouteSettingResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="setDefaultAssistantServicesRoute" parameterOrder="in0">

         <wsdl:input message="impl:setDefaultAssistantServicesRouteRequest" name="setDefaultAssistantServicesRouteRequest"/>

         <wsdl:output message="impl:setDefaultAssistantServicesRouteResponse" name="setDefaultAssistantServicesRouteResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getDefaultAssistantServicesRoute">

         <wsdl:input message="impl:getDefaultAssistantServicesRouteRequest" name="getDefaultAssistantServicesRouteRequest"/>

         <wsdl:output message="impl:getDefaultAssistantServicesRouteResponse" name="getDefaultAssistantServicesRouteResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="activateDefaultAssistantServicesRoute">

         <wsdl:input message="impl:activateDefaultAssistantServicesRouteRequest" name="activateDefaultAssistantServicesRouteRequest"/>

         <wsdl:output message="impl:activateDefaultAssistantServicesRouteResponse" name="activateDefaultAssistantServicesRouteResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="deactivateDefaultAssistantServicesRoute">

         <wsdl:input message="impl:deactivateDefaultAssistantServicesRouteRequest" name="deactivateDefaultAssistantServicesRouteRequest"/>

         <wsdl:output message="impl:deactivateDefaultAssistantServicesRouteResponse" name="deactivateDefaultAssistantServicesRouteResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="removeAssistants" parameterOrder="in0">

         <wsdl:input message="impl:removeAssistantsRequest" name="removeAssistantsRequest"/>

         <wsdl:output message="impl:removeAssistantsResponse" name="removeAssistantsResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="setAssistedUserVoiceMailRedirectedAssistant" parameterOrder="in0">

         <wsdl:input message="impl:setAssistedUserVoiceMailRedirectedAssistantRequest" name="setAssistedUserVoiceMailRedirectedAssistantRequest"/>

         <wsdl:output message="impl:setAssistedUserVoiceMailRedirectedAssistantResponse" name="setAssistedUserVoiceMailRedirectedAssistantResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getAssistedUserVoiceMailRedirectedAssistant">

         <wsdl:input message="impl:getAssistedUserVoiceMailRedirectedAssistantRequest" name="getAssistedUserVoiceMailRedirectedAssistantRequest"/>

         <wsdl:output message="impl:getAssistedUserVoiceMailRedirectedAssistantResponse" name="getAssistedUserVoiceMailRedirectedAssistantResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="removeAssistedUserVoiceMailRedirectedAssistant">

         <wsdl:input message="impl:removeAssistedUserVoiceMailRedirectedAssistantRequest" name="removeAssistedUserVoiceMailRedirectedAssistantRequest"/>

         <wsdl:output message="impl:removeAssistedUserVoiceMailRedirectedAssistantResponse" name="removeAssistedUserVoiceMailRedirectedAssistantResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getAllAssistantsHavingVoiceMailForUser">

         <wsdl:input message="impl:getAllAssistantsHavingVoiceMailForUserRequest" name="getAllAssistantsHavingVoiceMailForUserRequest"/>

         <wsdl:output message="impl:getAllAssistantsHavingVoiceMailForUserResponse" name="getAllAssistantsHavingVoiceMailForUserResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="addSecondaryAssistantsByUsernameOrDirectoryNumber" parameterOrder="in0">

         <wsdl:input message="impl:addSecondaryAssistantsByUsernameOrDirectoryNumberRequest" name="addSecondaryAssistantsByUsernameOrDirectoryNumberRequest"/>

         <wsdl:output message="impl:addSecondaryAssistantsByUsernameOrDirectoryNumberResponse" name="addSecondaryAssistantsByUsernameOrDirectoryNumberResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="addPrimaryAssistantsByUsernameOrDirectoryNumber" parameterOrder="in0">

         <wsdl:input message="impl:addPrimaryAssistantsByUsernameOrDirectoryNumberRequest" name="addPrimaryAssistantsByUsernameOrDirectoryNumberRequest"/>

         <wsdl:output message="impl:addPrimaryAssistantsByUsernameOrDirectoryNumberResponse" name="addPrimaryAssistantsByUsernameOrDirectoryNumberResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="addPrimaryAssistants" parameterOrder="in0">

         <wsdl:input message="impl:addPrimaryAssistantsRequest" name="addPrimaryAssistantsRequest"/>

         <wsdl:output message="impl:addPrimaryAssistantsResponse" name="addPrimaryAssistantsResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="addSecondaryAssistants" parameterOrder="in0">

         <wsdl:input message="impl:addSecondaryAssistantsRequest" name="addSecondaryAssistantsRequest"/>

         <wsdl:output message="impl:addSecondaryAssistantsResponse" name="addSecondaryAssistantsResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getPrimaryAssistants">

         <wsdl:input message="impl:getPrimaryAssistantsRequest" name="getPrimaryAssistantsRequest"/>

         <wsdl:output message="impl:getPrimaryAssistantsResponse" name="getPrimaryAssistantsResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getSecondaryAssistants">

         <wsdl:input message="impl:getSecondaryAssistantsRequest" name="getSecondaryAssistantsRequest"/>

         <wsdl:output message="impl:getSecondaryAssistantsResponse" name="getSecondaryAssistantsResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getAllAssistantsForUser">

         <wsdl:input message="impl:getAllAssistantsForUserRequest" name="getAllAssistantsForUserRequest"/>

         <wsdl:output message="impl:getAllAssistantsForUserResponse" name="getAllAssistantsForUserResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="removeAllAssistants">

         <wsdl:input message="impl:removeAllAssistantsRequest" name="removeAllAssistantsRequest"/>

         <wsdl:output message="impl:removeAllAssistantsResponse" name="removeAllAssistantsResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="modifyAssistedUserOrder" parameterOrder="in0">

         <wsdl:input message="impl:modifyAssistedUserOrderRequest" name="modifyAssistedUserOrderRequest"/>

         <wsdl:output message="impl:modifyAssistedUserOrderResponse" name="modifyAssistedUserOrderResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="removeAssistedUsers" parameterOrder="in0">

         <wsdl:input message="impl:removeAssistedUsersRequest" name="removeAssistedUsersRequest"/>

         <wsdl:output message="impl:removeAssistedUsersResponse" name="removeAssistedUsersResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="removeAllAssistedUsers">

         <wsdl:input message="impl:removeAllAssistedUsersRequest" name="removeAllAssistedUsersRequest"/>

         <wsdl:output message="impl:removeAllAssistedUsersResponse" name="removeAllAssistedUsersResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getAssistedUsers">

         <wsdl:input message="impl:getAssistedUsersRequest" name="getAssistedUsersRequest"/>

         <wsdl:output message="impl:getAssistedUsersResponse" name="getAssistedUsersResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getWSVersion">

         <wsdl:input message="impl:getWSVersionRequest" name="getWSVersionRequest"/>

         <wsdl:output message="impl:getWSVersionResponse" name="getWSVersionResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AssistantSvcUserService" type="impl:AssistantSvcUserIF">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="isDefaultAssistantServicesRouteActivated">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="isDefaultAssistantServicesRouteActivatedRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="isDefaultAssistantServicesRouteActivatedResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeDefaultAssistantServicesRouteSetting">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeDefaultAssistantServicesRouteSettingRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeDefaultAssistantServicesRouteSettingResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="setDefaultAssistantServicesRoute">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setDefaultAssistantServicesRouteRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setDefaultAssistantServicesRouteResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getDefaultAssistantServicesRoute">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDefaultAssistantServicesRouteRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDefaultAssistantServicesRouteResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="activateDefaultAssistantServicesRoute">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="activateDefaultAssistantServicesRouteRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="activateDefaultAssistantServicesRouteResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deactivateDefaultAssistantServicesRoute">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deactivateDefaultAssistantServicesRouteRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deactivateDefaultAssistantServicesRouteResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeAssistants">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeAssistantsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeAssistantsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="setAssistedUserVoiceMailRedirectedAssistant">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setAssistedUserVoiceMailRedirectedAssistantRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setAssistedUserVoiceMailRedirectedAssistantResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAssistedUserVoiceMailRedirectedAssistant">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAssistedUserVoiceMailRedirectedAssistantRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAssistedUserVoiceMailRedirectedAssistantResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeAssistedUserVoiceMailRedirectedAssistant">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeAssistedUserVoiceMailRedirectedAssistantRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeAssistedUserVoiceMailRedirectedAssistantResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAllAssistantsHavingVoiceMailForUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllAssistantsHavingVoiceMailForUserRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllAssistantsHavingVoiceMailForUserResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addSecondaryAssistantsByUsernameOrDirectoryNumber">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addSecondaryAssistantsByUsernameOrDirectoryNumberRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addSecondaryAssistantsByUsernameOrDirectoryNumberResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addPrimaryAssistantsByUsernameOrDirectoryNumber">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addPrimaryAssistantsByUsernameOrDirectoryNumberRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addPrimaryAssistantsByUsernameOrDirectoryNumberResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addPrimaryAssistants">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addPrimaryAssistantsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addPrimaryAssistantsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addSecondaryAssistants">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addSecondaryAssistantsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addSecondaryAssistantsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getPrimaryAssistants">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPrimaryAssistantsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getPrimaryAssistantsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getSecondaryAssistants">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSecondaryAssistantsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSecondaryAssistantsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAllAssistantsForUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllAssistantsForUserRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllAssistantsForUserResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeAllAssistants">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeAllAssistantsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeAllAssistantsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="modifyAssistedUserOrder">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyAssistedUserOrderRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modifyAssistedUserOrderResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeAssistedUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeAssistedUsersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeAssistedUsersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeAllAssistedUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeAllAssistedUsersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeAllAssistedUsersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAssistedUsers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAssistedUsersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAssistedUsersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getWSVersion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWSVersionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getWSVersionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="asstsvc.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AssistantSvcUserIFService">

      <wsdl:port binding="impl:AssistantSvcUserService" name="AssistantSvcUserService">

         <wsdlsoap:address location="http://localhost:80/sopi/services/AssistantSvcUserService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
