CallPickupSPUserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="callpickup.ws.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="callpickup.ws.nortelnetworks.com" xmlns:intf="callpickup.ws.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="common.ws.nortelnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="common.ws.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="callpickup.ws.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="ProvisioningDataObject">
    <sequence/>
   </complexType>
   <complexType name="UserServiceProfileDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ParmsList">
    <sequence>
     <element name="parmsList" nillable="true" type="impl:ArrayOf_soapenc_string"/>
     <element name="translate" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="ExceptionParms">
    <sequence>
     <element name="exceptionParms" nillable="true" type="impl:ArrayOf_tns2_ParmsList"/>
    </sequence>
   </complexType>
   <complexType name="ProvisioningException">
    <sequence>
     <element name="commonErrorCode" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
     <element name="methodName" nillable="true" type="soapenc:string"/>
     <element name="parms" nillable="true" type="tns2:ExceptionParms"/>
    </sequence>
   </complexType>
   <complexType abstract="true" name="NaturalKeyDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="name" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType abstract="true" name="ServiceProfileNaturalKeyDO">
    <complexContent>
     <extension base="tns2:NaturalKeyDO">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="SystemSPNaturalKeyDO">
    <complexContent>
     <extension base="tns2:ServiceProfileNaturalKeyDO">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UserNaturalKeyDO">
    <complexContent>
     <extension base="tns2:NaturalKeyDO">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="WSVersionDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="currentVersion" nillable="true" type="soapenc:string"/>
       <element name="mcpVersionAdded" nillable="true" type="soapenc:string"/>
       <element name="mcpVersionLastUpdated" nillable="true" type="soapenc:string"/>
       <element name="supportedVersions" nillable="true" type="impl:ArrayOf_soapenc_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="callpickup.ws.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="common.ws.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="CPUUserProfileDO">
    <complexContent>
     <extension base="tns2:UserServiceProfileDO">
      <sequence>
       <element name="agentStatusEnabled" type="xsd:boolean"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_ParmsList">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:ParmsList[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="CPUUserSystemProfileDO">
    <complexContent>
     <extension base="tns2:SystemSPNaturalKeyDO">
      <sequence>
       <element name="directedCallPickupEnabled" type="xsd:boolean"/>
       <element name="groupCallPickupEnabled" type="xsd:boolean"/>
       <element name="targetedCallPickupEnabled" type="xsd:boolean"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="CPUAgentNaturalKeyDO">
    <complexContent>
     <extension base="tns2:UserNaturalKeyDO">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfCPUAgentNaturalKeyDO">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:CPUAgentNaturalKeyDO[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="deactivateCPUAgentsRequest">

      <wsdl:part name="in0" type="impl:ArrayOfCPUAgentNaturalKeyDO"/>

   </wsdl:message>

   <wsdl:message name="getEffectiveAgentStatusRequest">

   </wsdl:message>

   <wsdl:message name="getWSVersionRequest">

   </wsdl:message>

   <wsdl:message name="getSystemProfileNameForUserRequest">

   </wsdl:message>

   <wsdl:message name="getSystemProfileForAgentRequest">

   </wsdl:message>

   <wsdl:message name="getUserProfileByAgentResponse">

      <wsdl:part name="getUserProfileByAgentReturn" type="impl:CPUUserProfileDO"/>

   </wsdl:message>

   <wsdl:message name="getUserProfileByAgentRequest">

   </wsdl:message>

   <wsdl:message name="getEffectiveAgentStatusResponse">

      <wsdl:part name="getEffectiveAgentStatusReturn" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="ProvisioningException">

      <wsdl:part name="fault" type="tns2:ProvisioningException"/>

   </wsdl:message>

   <wsdl:message name="getSystemProfileNameForUserResponse">

      <wsdl:part name="getSystemProfileNameForUserReturn" type="tns2:SystemSPNaturalKeyDO"/>

   </wsdl:message>

   <wsdl:message name="removeUserProfileRequest">

   </wsdl:message>

   <wsdl:message name="getWSVersionResponse">

      <wsdl:part name="getWSVersionReturn" type="tns2:WSVersionDO"/>

   </wsdl:message>

   <wsdl:message name="setUserProfileByAgentRequest">

      <wsdl:part name="in0" type="impl:CPUUserProfileDO"/>

   </wsdl:message>

   <wsdl:message name="deactivateCPUAgentsResponse">

   </wsdl:message>

   <wsdl:message name="removeUserProfileResponse">

   </wsdl:message>

   <wsdl:message name="setUserProfileByAgentResponse">

   </wsdl:message>

   <wsdl:message name="getSystemProfileForAgentResponse">

      <wsdl:part name="getSystemProfileForAgentReturn" type="impl:CPUUserSystemProfileDO"/>

   </wsdl:message>

   <wsdl:portType name="CPUServiceProfileUserIF">

      <wsdl:operation name="setUserProfileByAgent" parameterOrder="in0">

         <wsdl:input message="impl:setUserProfileByAgentRequest" name="setUserProfileByAgentRequest"/>

         <wsdl:output message="impl:setUserProfileByAgentResponse" name="setUserProfileByAgentResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getSystemProfileForAgent">

         <wsdl:input message="impl:getSystemProfileForAgentRequest" name="getSystemProfileForAgentRequest"/>

         <wsdl:output message="impl:getSystemProfileForAgentResponse" name="getSystemProfileForAgentResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getEffectiveAgentStatus">

         <wsdl:input message="impl:getEffectiveAgentStatusRequest" name="getEffectiveAgentStatusRequest"/>

         <wsdl:output message="impl:getEffectiveAgentStatusResponse" name="getEffectiveAgentStatusResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getUserProfileByAgent">

         <wsdl:input message="impl:getUserProfileByAgentRequest" name="getUserProfileByAgentRequest"/>

         <wsdl:output message="impl:getUserProfileByAgentResponse" name="getUserProfileByAgentResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="deactivateCPUAgents" parameterOrder="in0">

         <wsdl:input message="impl:deactivateCPUAgentsRequest" name="deactivateCPUAgentsRequest"/>

         <wsdl:output message="impl:deactivateCPUAgentsResponse" name="deactivateCPUAgentsResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getSystemProfileNameForUser">

         <wsdl:input message="impl:getSystemProfileNameForUserRequest" name="getSystemProfileNameForUserRequest"/>

         <wsdl:output message="impl:getSystemProfileNameForUserResponse" name="getSystemProfileNameForUserResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="removeUserProfile">

         <wsdl:input message="impl:removeUserProfileRequest" name="removeUserProfileRequest"/>

         <wsdl:output message="impl:removeUserProfileResponse" name="removeUserProfileResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getWSVersion">

         <wsdl:input message="impl:getWSVersionRequest" name="getWSVersionRequest"/>

         <wsdl:output message="impl:getWSVersionResponse" name="getWSVersionResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CallPickupSPUserService" type="impl:CPUServiceProfileUserIF">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="setUserProfileByAgent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setUserProfileByAgentRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="callpickup.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setUserProfileByAgentResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="callpickup.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="callpickup.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getSystemProfileForAgent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSystemProfileForAgentRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="callpickup.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSystemProfileForAgentResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="callpickup.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="callpickup.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getEffectiveAgentStatus">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEffectiveAgentStatusRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="callpickup.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getEffectiveAgentStatusResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="callpickup.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="callpickup.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUserProfileByAgent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserProfileByAgentRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="callpickup.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUserProfileByAgentResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="callpickup.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="callpickup.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="deactivateCPUAgents">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deactivateCPUAgentsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="callpickup.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="deactivateCPUAgentsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="callpickup.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="callpickup.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getSystemProfileNameForUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSystemProfileNameForUserRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="callpickup.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSystemProfileNameForUserResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="callpickup.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="callpickup.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeUserProfile">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeUserProfileRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="callpickup.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeUserProfileResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="callpickup.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="callpickup.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getWSVersion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWSVersionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="callpickup.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getWSVersionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="callpickup.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="callpickup.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CPUServiceProfileUserIFService">

      <wsdl:port binding="impl:CallPickupSPUserService" name="CallPickupSPUserService">

         <wsdlsoap:address location="http://localhost:80/sopi/services/CallPickupSPUserService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
