CFVRoute.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="cfvroute.opi.ims.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="cfvroute.opi.ims.nortelnetworks.com" xmlns:intf="cfvroute.opi.ims.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns126="opi.ims.nortelnetworks.com" xmlns:tns131="agprroute.opi.ims.nortelnetworks.com" xmlns:tns132="baseroute.opi.ims.nortelnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="cfvroute.opi.ims.nortelnetworks.com"/>
   <import namespace="agprroute.opi.ims.nortelnetworks.com"/>
   <import namespace="baseroute.opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="ProvisionableEntity">
    <sequence/>
   </complexType>
   <complexType name="ProvisionException">
    <sequence>
     <element name="defaultMessage" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="baseroute.opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="cfvroute.opi.ims.nortelnetworks.com"/>
   <import namespace="opi.ims.nortelnetworks.com"/>
   <import namespace="agprroute.opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="BaseRoute">
    <complexContent>
     <extension base="tns126:ProvisionableEntity">
      <sequence>
       <element name="isActive" type="xsd:boolean"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="agprroute.opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="cfvroute.opi.ims.nortelnetworks.com"/>
   <import namespace="opi.ims.nortelnetworks.com"/>
   <import namespace="baseroute.opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="AGPRRoute">
    <complexContent>
     <extension base="tns132:BaseRoute">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="cfvroute.opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="opi.ims.nortelnetworks.com"/>
   <import namespace="agprroute.opi.ims.nortelnetworks.com"/>
   <import namespace="baseroute.opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="CFVRoute">
    <complexContent>
     <extension base="tns131:AGPRRoute">
      <sequence>
       <element name="busyDestination" nillable="true" type="soapenc:string"/>
       <element name="busyEnabled" type="xsd:boolean"/>
       <element name="noAnswerDestination" nillable="true" type="soapenc:string"/>
       <element name="noAnswerEnabled" type="xsd:boolean"/>
       <element name="numOfRings" type="xsd:int"/>
       <element name="sentToVoicemail" type="xsd:boolean"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="setCFVRouteRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="impl:CFVRoute"/>

   </wsdl:message>

   <wsdl:message name="getCFVRouteRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="ProvisionException">

      <wsdl:part name="fault" type="tns126:ProvisionException"/>

   </wsdl:message>

   <wsdl:message name="setCFVRouteResponse">

   </wsdl:message>

   <wsdl:message name="getCFVRouteResponse">

      <wsdl:part name="getCFVRouteReturn" type="impl:CFVRoute"/>

   </wsdl:message>

   <wsdl:portType name="CFVRouteMgr">

      <wsdl:operation name="getCFVRoute" parameterOrder="in0">

         <wsdl:input message="impl:getCFVRouteRequest" name="getCFVRouteRequest"/>

         <wsdl:output message="impl:getCFVRouteResponse" name="getCFVRouteResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="setCFVRoute" parameterOrder="in0 in1">

         <wsdl:input message="impl:setCFVRouteRequest" name="setCFVRouteRequest"/>

         <wsdl:output message="impl:setCFVRouteResponse" name="setCFVRouteResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CFVRoute" type="impl:CFVRouteMgr">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getCFVRoute">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCFVRouteRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="cfvroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCFVRouteResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="cfvroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="cfvroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="setCFVRoute">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setCFVRouteRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="cfvroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setCFVRouteResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="cfvroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="cfvroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CFVRouteMgrService">

      <wsdl:port binding="impl:CFVRoute" name="CFVRoute">

         <wsdlsoap:address location="http://localhost:80/sopi/services/CFVRoute"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
