ClientRedirectLogin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="clientredirect.opi.ims.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="clientredirect.opi.ims.nortelnetworks.com" xmlns:intf="clientredirect.opi.ims.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns126="opi.ims.nortelnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="clientredirect.opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="ProvisionableEntity">
    <sequence/>
   </complexType>
   <complexType name="ProvisionException">
    <sequence>
     <element name="defaultMessage" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="clientredirect.opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ClientRedirectLogin">
    <complexContent>
     <extension base="tns126:ProvisionableEntity">
      <sequence>
       <element name="hashValue" nillable="true" type="soapenc:string"/>
       <element name="timestamp" nillable="true" type="soapenc:long"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getClientRedirectLoginRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="validateClientRedirectLoginByHashValueResponse">

   </wsdl:message>

   <wsdl:message name="ProvisionException">

      <wsdl:part name="fault" type="tns126:ProvisionException"/>

   </wsdl:message>

   <wsdl:message name="getClientRedirectLoginResponse">

      <wsdl:part name="getClientRedirectLoginReturn" type="impl:ClientRedirectLogin"/>

   </wsdl:message>

   <wsdl:message name="validateClientRedirectLoginByHashValueRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="impl:ClientRedirectLogin"/>

   </wsdl:message>

   <wsdl:portType name="ClientRedirectLoginMgr">

      <wsdl:operation name="getClientRedirectLogin" parameterOrder="in0 in1">

         <wsdl:input message="impl:getClientRedirectLoginRequest" name="getClientRedirectLoginRequest"/>

         <wsdl:output message="impl:getClientRedirectLoginResponse" name="getClientRedirectLoginResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="validateClientRedirectLoginByHashValue" parameterOrder="in0 in1">

         <wsdl:input message="impl:validateClientRedirectLoginByHashValueRequest" name="validateClientRedirectLoginByHashValueRequest"/>

         <wsdl:output message="impl:validateClientRedirectLoginByHashValueResponse" name="validateClientRedirectLoginByHashValueResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ClientRedirectLogin" type="impl:ClientRedirectLoginMgr">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getClientRedirectLogin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getClientRedirectLoginRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="clientredirect.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getClientRedirectLoginResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="clientredirect.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="clientredirect.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="validateClientRedirectLoginByHashValue">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validateClientRedirectLoginByHashValueRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="clientredirect.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="validateClientRedirectLoginByHashValueResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="clientredirect.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="clientredirect.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ClientRedirectLoginMgrService">

      <wsdl:port binding="impl:ClientRedirectLogin" name="ClientRedirectLogin">

         <wsdlsoap:address location="http://localhost:80/sopi/services/ClientRedirectLogin"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
