DNDRoute.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="dndroute.opi.ims.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="dndroute.opi.ims.nortelnetworks.com" xmlns:intf="dndroute.opi.ims.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns126="opi.ims.nortelnetworks.com" xmlns:tns131="agprroute.opi.ims.nortelnetworks.com" xmlns:tns132="baseroute.opi.ims.nortelnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="dndroute.opi.ims.nortelnetworks.com"/>
   <import namespace="agprroute.opi.ims.nortelnetworks.com"/>
   <import namespace="baseroute.opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="ProvisionableEntity">
    <sequence/>
   </complexType>
   <complexType name="ProvisionException">
    <sequence>
     <element name="defaultMessage" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="baseroute.opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="dndroute.opi.ims.nortelnetworks.com"/>
   <import namespace="opi.ims.nortelnetworks.com"/>
   <import namespace="agprroute.opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="BaseRoute">
    <complexContent>
     <extension base="tns126:ProvisionableEntity">
      <sequence>
       <element name="isActive" type="xsd:boolean"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="agprroute.opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="dndroute.opi.ims.nortelnetworks.com"/>
   <import namespace="opi.ims.nortelnetworks.com"/>
   <import namespace="baseroute.opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="AGPRRoute">
    <complexContent>
     <extension base="tns132:BaseRoute">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="dndroute.opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="opi.ims.nortelnetworks.com"/>
   <import namespace="agprroute.opi.ims.nortelnetworks.com"/>
   <import namespace="baseroute.opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="DNDRoute">
    <complexContent>
     <extension base="tns131:AGPRRoute">
      <sequence>
       <element name="rejectReason" nillable="true" type="soapenc:string"/>
       <element name="sentToVoicemail" type="xsd:boolean"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="setDNDRouteRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="impl:DNDRoute"/>

   </wsdl:message>

   <wsdl:message name="setDNDRouteResponse">

   </wsdl:message>

   <wsdl:message name="ProvisionException">

      <wsdl:part name="fault" type="tns126:ProvisionException"/>

   </wsdl:message>

   <wsdl:message name="getDNDRouteResponse">

      <wsdl:part name="getDNDRouteReturn" type="impl:DNDRoute"/>

   </wsdl:message>

   <wsdl:message name="getDNDRouteRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="DNDRouteMgr">

      <wsdl:operation name="setDNDRoute" parameterOrder="in0 in1">

         <wsdl:input message="impl:setDNDRouteRequest" name="setDNDRouteRequest"/>

         <wsdl:output message="impl:setDNDRouteResponse" name="setDNDRouteResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="getDNDRoute" parameterOrder="in0">

         <wsdl:input message="impl:getDNDRouteRequest" name="getDNDRouteRequest"/>

         <wsdl:output message="impl:getDNDRouteResponse" name="getDNDRouteResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DNDRoute" type="impl:DNDRouteMgr">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="setDNDRoute">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setDNDRouteRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="dndroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setDNDRouteResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="dndroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="dndroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getDNDRoute">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getDNDRouteRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="dndroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getDNDRouteResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="dndroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="dndroute.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DNDRouteMgrService">

      <wsdl:port binding="impl:DNDRoute" name="DNDRoute">

         <wsdlsoap:address location="http://localhost:80/sopi/services/DNDRoute"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
