E911Loc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="opi.ims.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="opi.ims.nortelnetworks.com" xmlns:intf="opi.ims.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="ProvisionableEntity">
    <sequence/>
   </complexType>
   <complexType name="LocNode">
    <complexContent>
     <extension base="impl:ProvisionableEntity">
      <sequence>
       <element name="location" nillable="true" type="soapenc:string"/>
       <element name="locationID" type="xsd:int"/>
       <element name="parentLocationID" nillable="true" type="soapenc:int"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfLocNode">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:LocNode[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="LocList">
    <complexContent>
     <extension base="impl:ProvisionableEntity">
      <sequence>
       <element name="locNodes" nillable="true" type="impl:ArrayOfLocNode"/>
       <element name="timestamp" type="xsd:long"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProvisionException">
    <sequence>
     <element name="defaultMessage" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="ProvisionException">

      <wsdl:part name="fault" type="impl:ProvisionException"/>

   </wsdl:message>

   <wsdl:message name="getLocationListRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="xsd:long"/>

      <wsdl:part name="in2" type="xsd:boolean"/>

   </wsdl:message>

   <wsdl:message name="getLocationListResponse">

      <wsdl:part name="getLocationListReturn" type="impl:LocList"/>

   </wsdl:message>

   <wsdl:portType name="SubscriberLocationInfoMgr">

      <wsdl:operation name="getLocationList" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:getLocationListRequest" name="getLocationListRequest"/>

         <wsdl:output message="impl:getLocationListResponse" name="getLocationListResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="E911Loc" type="impl:SubscriberLocationInfoMgr">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getLocationList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLocationListRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getLocationListResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SubscriberLocationInfoMgrService">

      <wsdl:port binding="impl:E911Loc" name="E911Loc">

         <wsdlsoap:address location="http://localhost:80/sopi/services/E911Loc"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
