IPCM200X.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="user.opi.ims.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="user.opi.ims.nortelnetworks.com" xmlns:intf="user.opi.ims.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns126="opi.ims.nortelnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="user.opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="ProvisionableEntity">
    <sequence/>
   </complexType>
   <complexType name="BaseDevice">
    <complexContent>
     <extension base="tns126:ProvisionableEntity">
      <sequence>
       <element name="label" nillable="true" type="soapenc:string"/>
       <element name="macaddress" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProvisionException">
    <sequence>
     <element name="defaultMessage" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="user.opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns126_BaseDevice">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns126:BaseDevice[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="logoutUserFromDeviceRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getUserDevicesRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getUserDevicesResponse">

      <wsdl:part name="getUserDevicesReturn" type="impl:ArrayOf_tns126_BaseDevice"/>

   </wsdl:message>

   <wsdl:message name="ProvisionException">

      <wsdl:part name="fault" type="tns126:ProvisionException"/>

   </wsdl:message>

   <wsdl:message name="logoutUserFromDeviceResponse">

   </wsdl:message>

   <wsdl:portType name="User200xServiceMgr">

      <wsdl:operation name="getUserDevices" parameterOrder="in0">

         <wsdl:input message="impl:getUserDevicesRequest" name="getUserDevicesRequest"/>

         <wsdl:output message="impl:getUserDevicesResponse" name="getUserDevicesResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="logoutUserFromDevice" parameterOrder="in0 in1">

         <wsdl:input message="impl:logoutUserFromDeviceRequest" name="logoutUserFromDeviceRequest"/>

         <wsdl:output message="impl:logoutUserFromDeviceResponse" name="logoutUserFromDeviceResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="IPCM200X" type="impl:User200xServiceMgr">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getUserDevices">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserDevicesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUserDevicesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="logoutUserFromDevice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="logoutUserFromDeviceRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="logoutUserFromDeviceResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="User200xServiceMgrService">

      <wsdl:port binding="impl:IPCM200X" name="IPCM200X">

         <wsdlsoap:address location="http://localhost:80/sopi/services/IPCM200X"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
