LDAPUserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="ldap.ws.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="ldap.ws.nortelnetworks.com" xmlns:intf="ldap.ws.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns15="config.data.ws.nortelnetworks.com" xmlns:tns2="common.ws.nortelnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="common.ws.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="ldap.ws.nortelnetworks.com"/>
   <import namespace="config.data.ws.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="ProvisioningDataObject">
    <sequence/>
   </complexType>
   <complexType name="ParmsList">
    <sequence>
     <element name="parmsList" nillable="true" type="impl:ArrayOf_soapenc_string"/>
     <element name="translate" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="ExceptionParms">
    <sequence>
     <element name="exceptionParms" nillable="true" type="impl:ArrayOf_tns2_ParmsList"/>
    </sequence>
   </complexType>
   <complexType name="ProvisioningException">
    <sequence>
     <element name="commonErrorCode" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
     <element name="methodName" nillable="true" type="soapenc:string"/>
     <element name="parms" nillable="true" type="tns2:ExceptionParms"/>
    </sequence>
   </complexType>
   <complexType abstract="true" name="NaturalKeyDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="name" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="WSVersionDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="currentVersion" nillable="true" type="soapenc:string"/>
       <element name="mcpVersionAdded" nillable="true" type="soapenc:string"/>
       <element name="mcpVersionLastUpdated" nillable="true" type="soapenc:string"/>
       <element name="supportedVersions" nillable="true" type="impl:ArrayOf_soapenc_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="ldap.ws.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="common.ws.nortelnetworks.com"/>
   <import namespace="config.data.ws.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="LDAPSchemaDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="LSCCCAID" nillable="true" type="soapenc:string"/>
       <element name="MCPUser" nillable="true" type="soapenc:string"/>
       <element name="MFSSSCCAID" nillable="true" type="soapenc:string"/>
       <element name="businessPhone" nillable="true" type="soapenc:string"/>
       <element name="cellPhone" nillable="true" type="soapenc:string"/>
       <element name="email" nillable="true" type="soapenc:string"/>
       <element name="faxNumber" nillable="true" type="soapenc:string"/>
       <element name="firstName" nillable="true" type="soapenc:string"/>
       <element name="homePhone" nillable="true" type="soapenc:string"/>
       <element name="jpegPhoto" nillable="true" type="soapenc:string"/>
       <element name="lastName" nillable="true" type="soapenc:string"/>
       <element name="ldapDN" nillable="true" type="soapenc:string"/>
       <element name="mobileUser" nillable="true" type="soapenc:string"/>
       <element name="pagerNumber" nillable="true" type="soapenc:string"/>
       <element name="sesmHome" nillable="true" type="soapenc:string"/>
       <element name="sipAlias" nillable="true" type="soapenc:string"/>
       <element name="sipDirNumber" nillable="true" type="soapenc:string"/>
       <element name="sipSubscriberType" nillable="true" type="soapenc:string"/>
       <element name="sipUserName" nillable="true" type="soapenc:string"/>
       <element name="userName" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_ParmsList">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:ParmsList[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="LDAPInfoDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="primaryLoginRequired" type="xsd:boolean"/>
       <element name="primaryPassword" nillable="true" type="soapenc:string"/>
       <element name="primaryServer" nillable="true" type="tns15:LDAPNaturalKeyDO"/>
       <element name="primaryUserName" nillable="true" type="soapenc:string"/>
       <element name="providerURL" nillable="true" type="soapenc:string"/>
       <element name="secondaryLoginRequired" type="xsd:boolean"/>
       <element name="secondaryPassword" nillable="true" type="soapenc:string"/>
       <element name="secondaryServer" nillable="true" type="tns15:LDAPNaturalKeyDO"/>
       <element name="secondaryUserName" nillable="true" type="soapenc:string"/>
       <element name="usePrimarySecureLogin" type="xsd:boolean"/>
       <element name="useSecondarySecureLogin" type="xsd:boolean"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfLDAPInfoDO">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:LDAPInfoDO[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="config.data.ws.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="common.ws.nortelnetworks.com"/>
   <import namespace="ldap.ws.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="LDAPNaturalKeyDO">
    <complexContent>
     <extension base="tns2:NaturalKeyDO">
      <sequence>
       <element name="displayName" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="ProvisioningException">

      <wsdl:part name="fault" type="tns2:ProvisioningException"/>

   </wsdl:message>

   <wsdl:message name="getWSVersionResponse">

      <wsdl:part name="getWSVersionReturn" type="tns2:WSVersionDO"/>

   </wsdl:message>

   <wsdl:message name="getWSVersionRequest">

   </wsdl:message>

   <wsdl:message name="getLdapDirSchemaResponse">

      <wsdl:part name="getLdapDirSchemaReturn" type="impl:LDAPSchemaDO"/>

   </wsdl:message>

   <wsdl:message name="getLdapServerInfoRequest">

   </wsdl:message>

   <wsdl:message name="getLdapDirSchemaRequest">

   </wsdl:message>

   <wsdl:message name="getLdapServerInfoResponse">

      <wsdl:part name="getLdapServerInfoReturn" type="impl:ArrayOfLDAPInfoDO"/>

   </wsdl:message>

   <wsdl:portType name="LDAPUserIF">

      <wsdl:operation name="getLdapDirSchema">

         <wsdl:input message="impl:getLdapDirSchemaRequest" name="getLdapDirSchemaRequest"/>

         <wsdl:output message="impl:getLdapDirSchemaResponse" name="getLdapDirSchemaResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getLdapServerInfo">

         <wsdl:input message="impl:getLdapServerInfoRequest" name="getLdapServerInfoRequest"/>

         <wsdl:output message="impl:getLdapServerInfoResponse" name="getLdapServerInfoResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getWSVersion">

         <wsdl:input message="impl:getWSVersionRequest" name="getWSVersionRequest"/>

         <wsdl:output message="impl:getWSVersionResponse" name="getWSVersionResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LDAPUserService" type="impl:LDAPUserIF">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getLdapDirSchema">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLdapDirSchemaRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="ldap.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getLdapDirSchemaResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="ldap.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="ldap.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getLdapServerInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLdapServerInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="ldap.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getLdapServerInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="ldap.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="ldap.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getWSVersion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWSVersionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="ldap.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getWSVersionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="ldap.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="ldap.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LDAPUserIFService">

      <wsdl:port binding="impl:LDAPUserService" name="LDAPUserService">

         <wsdlsoap:address location="http://localhost:80/sopi/services/LDAPUserService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
