MeetMeUserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="meetme.ws.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="meetme.ws.nortelnetworks.com" xmlns:intf="meetme.ws.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="common.ws.nortelnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="common.ws.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="meetme.ws.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="ProvisioningDataObject">
    <sequence/>
   </complexType>
   <complexType name="ParmsList">
    <sequence>
     <element name="parmsList" nillable="true" type="impl:ArrayOf_soapenc_string"/>
     <element name="translate" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="ExceptionParms">
    <sequence>
     <element name="exceptionParms" nillable="true" type="impl:ArrayOf_tns2_ParmsList"/>
    </sequence>
   </complexType>
   <complexType name="ProvisioningException">
    <sequence>
     <element name="commonErrorCode" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
     <element name="methodName" nillable="true" type="soapenc:string"/>
     <element name="parms" nillable="true" type="tns2:ExceptionParms"/>
    </sequence>
   </complexType>
   <complexType name="WSVersionDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="currentVersion" nillable="true" type="soapenc:string"/>
       <element name="mcpVersionAdded" nillable="true" type="soapenc:string"/>
       <element name="mcpVersionLastUpdated" nillable="true" type="soapenc:string"/>
       <element name="supportedVersions" nillable="true" type="impl:ArrayOf_soapenc_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="meetme.ws.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="common.ws.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="MeetMeUserDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="accessCode" nillable="true" type="soapenc:string"/>
       <element name="audioEmotIconsEnabled" type="xsd:boolean"/>
       <element name="audioRecEmailAddr" nillable="true" type="soapenc:string"/>
       <element name="chairEnds" type="xsd:boolean"/>
       <element name="entryExitIndication" nillable="true" type="soapenc:string"/>
       <element name="fastStart" type="xsd:boolean"/>
       <element name="imEnabled" type="xsd:boolean"/>
       <element name="publicPin" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_ParmsList">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:ParmsList[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="MeetMePinDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="pin" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="changeChairPinResponse">

   </wsdl:message>

   <wsdl:message name="getChairAccessURLRequest">

   </wsdl:message>

   <wsdl:message name="getMeetMeConfDataResponse">

      <wsdl:part name="getMeetMeConfDataReturn" type="impl:MeetMeUserDO"/>

   </wsdl:message>

   <wsdl:message name="changeChairPinRequest">

      <wsdl:part name="in0" type="impl:MeetMePinDO"/>

   </wsdl:message>

   <wsdl:message name="getConfDialUpNumbersRequest">

   </wsdl:message>

   <wsdl:message name="getMeetMeConfDataRequest">

   </wsdl:message>

   <wsdl:message name="ProvisioningException">

      <wsdl:part name="fault" type="tns2:ProvisioningException"/>

   </wsdl:message>

   <wsdl:message name="getWSVersionResponse">

      <wsdl:part name="getWSVersionReturn" type="tns2:WSVersionDO"/>

   </wsdl:message>

   <wsdl:message name="setMeetMeConfUserResponse">

   </wsdl:message>

   <wsdl:message name="getWebCollabURLResponse">

      <wsdl:part name="getWebCollabURLReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="setMeetMeConfUserRequest">

      <wsdl:part name="in0" type="impl:MeetMeUserDO"/>

   </wsdl:message>

   <wsdl:message name="getConfDialUpNumbersResponse">

      <wsdl:part name="getConfDialUpNumbersReturn" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getChairAccessURLResponse">

      <wsdl:part name="getChairAccessURLReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getWebCollabURLRequest">

   </wsdl:message>

   <wsdl:message name="getWSVersionRequest">

   </wsdl:message>

   <wsdl:portType name="MeetMeUserIF">

      <wsdl:operation name="getMeetMeConfData">

         <wsdl:input message="impl:getMeetMeConfDataRequest" name="getMeetMeConfDataRequest"/>

         <wsdl:output message="impl:getMeetMeConfDataResponse" name="getMeetMeConfDataResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getWebCollabURL">

         <wsdl:input message="impl:getWebCollabURLRequest" name="getWebCollabURLRequest"/>

         <wsdl:output message="impl:getWebCollabURLResponse" name="getWebCollabURLResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getChairAccessURL">

         <wsdl:input message="impl:getChairAccessURLRequest" name="getChairAccessURLRequest"/>

         <wsdl:output message="impl:getChairAccessURLResponse" name="getChairAccessURLResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="changeChairPin" parameterOrder="in0">

         <wsdl:input message="impl:changeChairPinRequest" name="changeChairPinRequest"/>

         <wsdl:output message="impl:changeChairPinResponse" name="changeChairPinResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getConfDialUpNumbers">

         <wsdl:input message="impl:getConfDialUpNumbersRequest" name="getConfDialUpNumbersRequest"/>

         <wsdl:output message="impl:getConfDialUpNumbersResponse" name="getConfDialUpNumbersResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="setMeetMeConfUser" parameterOrder="in0">

         <wsdl:input message="impl:setMeetMeConfUserRequest" name="setMeetMeConfUserRequest"/>

         <wsdl:output message="impl:setMeetMeConfUserResponse" name="setMeetMeConfUserResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getWSVersion">

         <wsdl:input message="impl:getWSVersionRequest" name="getWSVersionRequest"/>

         <wsdl:output message="impl:getWSVersionResponse" name="getWSVersionResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="MeetMeUserService" type="impl:MeetMeUserIF">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getMeetMeConfData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMeetMeConfDataRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="meetme.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getMeetMeConfDataResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="meetme.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="meetme.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getWebCollabURL">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWebCollabURLRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="meetme.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getWebCollabURLResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="meetme.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="meetme.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getChairAccessURL">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getChairAccessURLRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="meetme.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getChairAccessURLResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="meetme.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="meetme.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="changeChairPin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changeChairPinRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="meetme.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="changeChairPinResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="meetme.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="meetme.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getConfDialUpNumbers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getConfDialUpNumbersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="meetme.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getConfDialUpNumbersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="meetme.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="meetme.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="setMeetMeConfUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setMeetMeConfUserRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="meetme.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setMeetMeConfUserResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="meetme.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="meetme.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getWSVersion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWSVersionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="meetme.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getWSVersionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="meetme.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="meetme.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="MeetMeUserIFService">

      <wsdl:port binding="impl:MeetMeUserService" name="MeetMeUserService">

         <wsdlsoap:address location="http://localhost:80/sopi/services/MeetMeUserService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
