PasswordPolicyUserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="passwordpolicy.ws.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="passwordpolicy.ws.nortelnetworks.com" xmlns:intf="passwordpolicy.ws.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="common.ws.nortelnetworks.com" xmlns:tns40="core.data.ws.nortelnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="common.ws.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="core.data.ws.nortelnetworks.com"/>
   <import namespace="passwordpolicy.ws.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="ProvisioningDataObject">
    <sequence/>
   </complexType>
   <complexType abstract="true" name="NaturalKeyDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="name" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="LocaleNaturalKeyDO">
    <complexContent>
     <extension base="tns2:NaturalKeyDO">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ParmsList">
    <sequence>
     <element name="parmsList" nillable="true" type="impl:ArrayOf_soapenc_string"/>
     <element name="translate" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="ExceptionParms">
    <sequence>
     <element name="exceptionParms" nillable="true" type="impl:ArrayOf_tns2_ParmsList"/>
    </sequence>
   </complexType>
   <complexType name="ProvisioningException">
    <sequence>
     <element name="commonErrorCode" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
     <element name="methodName" nillable="true" type="soapenc:string"/>
     <element name="parms" nillable="true" type="tns2:ExceptionParms"/>
    </sequence>
   </complexType>
   <complexType name="WSVersionDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="currentVersion" nillable="true" type="soapenc:string"/>
       <element name="mcpVersionAdded" nillable="true" type="soapenc:string"/>
       <element name="mcpVersionLastUpdated" nillable="true" type="soapenc:string"/>
       <element name="supportedVersions" nillable="true" type="impl:ArrayOf_soapenc_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="passwordpolicy.ws.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="core.data.ws.nortelnetworks.com"/>
   <import namespace="common.ws.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_ParmsList">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:ParmsList[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType abstract="true" name="BasePasswordPolicyDO">
    <complexContent>
     <extension base="tns40:PasswordPolicyNaturalKeyDO">
      <sequence>
       <element name="lockoutDuration" nillable="true" type="soapenc:int"/>
       <element name="maxFailedLogin" nillable="true" type="soapenc:int"/>
       <element name="minCharacters" nillable="true" type="soapenc:int"/>
       <element name="minDigits" nillable="true" type="soapenc:int"/>
       <element name="minLength" nillable="true" type="soapenc:int"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="PasswordPolicyDO">
    <complexContent>
     <extension base="impl:BasePasswordPolicyDO">
      <sequence>
       <element name="enablePropertyFiltering" type="xsd:boolean"/>
       <element name="initReset" type="xsd:boolean"/>
       <element name="minCapitalLetters" nillable="true" type="soapenc:int"/>
       <element name="minSpecialCharacters" nillable="true" type="soapenc:int"/>
       <element name="preventPreviousPassword" type="xsd:boolean"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="core.data.ws.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="common.ws.nortelnetworks.com"/>
   <import namespace="passwordpolicy.ws.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="PasswordPolicyNaturalKeyDO">
    <complexContent>
     <extension base="tns2:NaturalKeyDO">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getWSVersionRequest">

   </wsdl:message>

   <wsdl:message name="getPasswordPolicyDescriptionByLocaleResponse">

      <wsdl:part name="getPasswordPolicyDescriptionByLocaleReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getPasswordPolicyRequest">

   </wsdl:message>

   <wsdl:message name="getPasswordPolicyResponse">

      <wsdl:part name="getPasswordPolicyReturn" type="impl:PasswordPolicyDO"/>

   </wsdl:message>

   <wsdl:message name="getPasswordPolicyDescriptionByLocaleRequest">

      <wsdl:part name="in0" type="tns2:LocaleNaturalKeyDO"/>

   </wsdl:message>

   <wsdl:message name="ProvisioningException">

      <wsdl:part name="fault" type="tns2:ProvisioningException"/>

   </wsdl:message>

   <wsdl:message name="getWSVersionResponse">

      <wsdl:part name="getWSVersionReturn" type="tns2:WSVersionDO"/>

   </wsdl:message>

   <wsdl:message name="getPasswordPolicyDescriptionResponse">

      <wsdl:part name="getPasswordPolicyDescriptionReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getPasswordPolicyDescriptionRequest">

   </wsdl:message>

   <wsdl:portType name="PasswordPolicyUserIF">

      <wsdl:operation name="getPasswordPolicyDescriptionByLocale" parameterOrder="in0">

         <wsdl:input message="impl:getPasswordPolicyDescriptionByLocaleRequest" name="getPasswordPolicyDescriptionByLocaleRequest"/>

         <wsdl:output message="impl:getPasswordPolicyDescriptionByLocaleResponse" name="getPasswordPolicyDescriptionByLocaleResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getPasswordPolicyDescription">

         <wsdl:input message="impl:getPasswordPolicyDescriptionRequest" name="getPasswordPolicyDescriptionRequest"/>

         <wsdl:output message="impl:getPasswordPolicyDescriptionResponse" name="getPasswordPolicyDescriptionResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getPasswordPolicy">

         <wsdl:input message="impl:getPasswordPolicyRequest" name="getPasswordPolicyRequest"/>

         <wsdl:output message="impl:getPasswordPolicyResponse" name="getPasswordPolicyResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getWSVersion">

         <wsdl:input message="impl:getWSVersionRequest" name="getWSVersionRequest"/>

         <wsdl:output message="impl:getWSVersionResponse" name="getWSVersionResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PasswordPolicyUserService" type="impl:PasswordPolicyUserIF">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getPasswordPolicyDescriptionByLocale">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPasswordPolicyDescriptionByLocaleRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="passwordpolicy.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getPasswordPolicyDescriptionByLocaleResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="passwordpolicy.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="passwordpolicy.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getPasswordPolicyDescription">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPasswordPolicyDescriptionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="passwordpolicy.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getPasswordPolicyDescriptionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="passwordpolicy.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="passwordpolicy.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getPasswordPolicy">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPasswordPolicyRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="passwordpolicy.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getPasswordPolicyResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="passwordpolicy.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="passwordpolicy.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getWSVersion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWSVersionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="passwordpolicy.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getWSVersionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="passwordpolicy.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="passwordpolicy.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PasswordPolicyUserIFService">

      <wsdl:port binding="impl:PasswordPolicyUserService" name="PasswordPolicyUserService">

         <wsdlsoap:address location="http://localhost:80/sopi/services/PasswordPolicyUserService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
