PbxNodeTimeBlockUserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="sippbx.ws.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="sippbx.ws.nortelnetworks.com" xmlns:intf="sippbx.ws.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="common.ws.nortelnetworks.com" xmlns:tns271="timeblock.ws.nortelnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="common.ws.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="timeblock.ws.nortelnetworks.com"/>
   <import namespace="sippbx.ws.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="ProvisioningDataObject">
    <sequence/>
   </complexType>
   <complexType abstract="true" name="NaturalKeyDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="name" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ParmsList">
    <sequence>
     <element name="parmsList" nillable="true" type="impl:ArrayOf_soapenc_string"/>
     <element name="translate" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="ExceptionParms">
    <sequence>
     <element name="exceptionParms" nillable="true" type="impl:ArrayOf_tns2_ParmsList"/>
    </sequence>
   </complexType>
   <complexType name="ProvisioningException">
    <sequence>
     <element name="commonErrorCode" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
     <element name="methodName" nillable="true" type="soapenc:string"/>
     <element name="parms" nillable="true" type="tns2:ExceptionParms"/>
    </sequence>
   </complexType>
   <complexType name="WSVersionDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="currentVersion" nillable="true" type="soapenc:string"/>
       <element name="mcpVersionAdded" nillable="true" type="soapenc:string"/>
       <element name="mcpVersionLastUpdated" nillable="true" type="soapenc:string"/>
       <element name="supportedVersions" nillable="true" type="impl:ArrayOf_soapenc_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="timeblock.ws.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="common.ws.nortelnetworks.com"/>
   <import namespace="sippbx.ws.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="TimeBlockGroupNaturalKeyDO">
    <complexContent>
     <extension base="tns2:NaturalKeyDO">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="TimeBlockDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="days" nillable="true" type="impl:ArrayOf_soapenc_boolean"/>
       <element name="startTime" nillable="true" type="soapenc:string"/>
       <element name="stopTime" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="sippbx.ws.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="timeblock.ws.nortelnetworks.com"/>
   <import namespace="common.ws.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="PbxNodeTimeBlockNKDO">
    <complexContent>
     <extension base="tns271:TimeBlockGroupNaturalKeyDO">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_boolean">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:boolean[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns271_TimeBlockDO">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns271:TimeBlockDO[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="PbxNodeTimeBlockDO">
    <complexContent>
     <extension base="impl:PbxNodeTimeBlockNKDO">
      <sequence>
       <element name="timeBlock" nillable="true" type="impl:ArrayOf_tns271_TimeBlockDO"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_ParmsList">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:ParmsList[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="removePbxNodeTimeBlockResponse">

   </wsdl:message>

   <wsdl:message name="ProvisioningException">

      <wsdl:part name="fault" type="tns2:ProvisioningException"/>

   </wsdl:message>

   <wsdl:message name="getWSVersionResponse">

      <wsdl:part name="getWSVersionReturn" type="tns2:WSVersionDO"/>

   </wsdl:message>

   <wsdl:message name="getWSVersionRequest">

   </wsdl:message>

   <wsdl:message name="getPbxNodeTimeBlockRequest">

      <wsdl:part name="in0" type="impl:PbxNodeTimeBlockNKDO"/>

   </wsdl:message>

   <wsdl:message name="modifyPbxNodeTimeBlockRequest">

      <wsdl:part name="in0" type="impl:PbxNodeTimeBlockNKDO"/>

      <wsdl:part name="in1" type="impl:PbxNodeTimeBlockDO"/>

   </wsdl:message>

   <wsdl:message name="getPbxNodeTimeBlockResponse">

      <wsdl:part name="getPbxNodeTimeBlockReturn" type="impl:PbxNodeTimeBlockDO"/>

   </wsdl:message>

   <wsdl:message name="addPbxNodeTimeBlockResponse">

   </wsdl:message>

   <wsdl:message name="addPbxNodeTimeBlockRequest">

      <wsdl:part name="in0" type="impl:PbxNodeTimeBlockDO"/>

   </wsdl:message>

   <wsdl:message name="modifyPbxNodeTimeBlockResponse">

   </wsdl:message>

   <wsdl:message name="removePbxNodeTimeBlockRequest">

      <wsdl:part name="in0" type="impl:PbxNodeTimeBlockNKDO"/>

   </wsdl:message>

   <wsdl:portType name="PbxNodeTimeBlockUserIF">

      <wsdl:operation name="getPbxNodeTimeBlock" parameterOrder="in0">

         <wsdl:input message="impl:getPbxNodeTimeBlockRequest" name="getPbxNodeTimeBlockRequest"/>

         <wsdl:output message="impl:getPbxNodeTimeBlockResponse" name="getPbxNodeTimeBlockResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="addPbxNodeTimeBlock" parameterOrder="in0">

         <wsdl:input message="impl:addPbxNodeTimeBlockRequest" name="addPbxNodeTimeBlockRequest"/>

         <wsdl:output message="impl:addPbxNodeTimeBlockResponse" name="addPbxNodeTimeBlockResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="modifyPbxNodeTimeBlock" parameterOrder="in0 in1">

         <wsdl:input message="impl:modifyPbxNodeTimeBlockRequest" name="modifyPbxNodeTimeBlockRequest"/>

         <wsdl:output message="impl:modifyPbxNodeTimeBlockResponse" name="modifyPbxNodeTimeBlockResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="removePbxNodeTimeBlock" parameterOrder="in0">

         <wsdl:input message="impl:removePbxNodeTimeBlockRequest" name="removePbxNodeTimeBlockRequest"/>

         <wsdl:output message="impl:removePbxNodeTimeBlockResponse" name="removePbxNodeTimeBlockResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getWSVersion">

         <wsdl:input message="impl:getWSVersionRequest" name="getWSVersionRequest"/>

         <wsdl:output message="impl:getWSVersionResponse" name="getWSVersionResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PbxNodeTimeBlockUserService" type="impl:PbxNodeTimeBlockUserIF">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getPbxNodeTimeBlock">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPbxNodeTimeBlockRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="sippbx.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getPbxNodeTimeBlockResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="sippbx.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="sippbx.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addPbxNodeTimeBlock">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addPbxNodeTimeBlockRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="sippbx.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addPbxNodeTimeBlockResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="sippbx.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="sippbx.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="modifyPbxNodeTimeBlock">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyPbxNodeTimeBlockRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="sippbx.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modifyPbxNodeTimeBlockResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="sippbx.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="sippbx.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removePbxNodeTimeBlock">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removePbxNodeTimeBlockRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="sippbx.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removePbxNodeTimeBlockResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="sippbx.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="sippbx.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getWSVersion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWSVersionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="sippbx.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getWSVersionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="sippbx.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="sippbx.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PbxNodeTimeBlockUserIFService">

      <wsdl:port binding="impl:PbxNodeTimeBlockUserService" name="PbxNodeTimeBlockUserService">

         <wsdlsoap:address location="http://localhost:80/sopi/services/PbxNodeTimeBlockUserService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
