PIDFUserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="pidfman.ws.genband.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="pidfman.ws.genband.com" xmlns:intf="pidfman.ws.genband.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="common.ws.nortelnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="common.ws.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="pidfman.ws.genband.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="ProvisioningDataObject">
    <sequence/>
   </complexType>
   <complexType name="ParmsList">
    <sequence>
     <element name="parmsList" nillable="true" type="impl:ArrayOf_soapenc_string"/>
     <element name="translate" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="ExceptionParms">
    <sequence>
     <element name="exceptionParms" nillable="true" type="impl:ArrayOf_tns2_ParmsList"/>
    </sequence>
   </complexType>
   <complexType name="ProvisioningException">
    <sequence>
     <element name="commonErrorCode" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
     <element name="methodName" nillable="true" type="soapenc:string"/>
     <element name="parms" nillable="true" type="tns2:ExceptionParms"/>
    </sequence>
   </complexType>
   <complexType name="WSVersionDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="currentVersion" nillable="true" type="soapenc:string"/>
       <element name="mcpVersionAdded" nillable="true" type="soapenc:string"/>
       <element name="mcpVersionLastUpdated" nillable="true" type="soapenc:string"/>
       <element name="supportedVersions" nillable="true" type="impl:ArrayOf_soapenc_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="pidfman.ws.genband.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="common.ws.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="PIDFDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="pidfData" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_ParmsList">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:ParmsList[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getPIDFDataRequest">

   </wsdl:message>

   <wsdl:message name="getPIDFDataResponse">

      <wsdl:part name="getPIDFDataReturn" type="impl:PIDFDO"/>

   </wsdl:message>

   <wsdl:message name="setPIDFDataResponse">

   </wsdl:message>

   <wsdl:message name="setPIDFDataRequest">

      <wsdl:part name="in0" type="impl:PIDFDO"/>

   </wsdl:message>

   <wsdl:message name="getWSVersionRequest">

   </wsdl:message>

   <wsdl:message name="ProvisioningException">

      <wsdl:part name="fault" type="tns2:ProvisioningException"/>

   </wsdl:message>

   <wsdl:message name="getWSVersionResponse">

      <wsdl:part name="getWSVersionReturn" type="tns2:WSVersionDO"/>

   </wsdl:message>

   <wsdl:portType name="PIDFUserIF">

      <wsdl:operation name="getPIDFData">

         <wsdl:input message="impl:getPIDFDataRequest" name="getPIDFDataRequest"/>

         <wsdl:output message="impl:getPIDFDataResponse" name="getPIDFDataResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="setPIDFData" parameterOrder="in0">

         <wsdl:input message="impl:setPIDFDataRequest" name="setPIDFDataRequest"/>

         <wsdl:output message="impl:setPIDFDataResponse" name="setPIDFDataResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getWSVersion">

         <wsdl:input message="impl:getWSVersionRequest" name="getWSVersionRequest"/>

         <wsdl:output message="impl:getWSVersionResponse" name="getWSVersionResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PIDFUserService" type="impl:PIDFUserIF">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getPIDFData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPIDFDataRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="pidfman.ws.genband.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getPIDFDataResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="pidfman.ws.genband.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="pidfman.ws.genband.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="setPIDFData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setPIDFDataRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="pidfman.ws.genband.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setPIDFDataResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="pidfman.ws.genband.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="pidfman.ws.genband.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getWSVersion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWSVersionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="pidfman.ws.genband.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getWSVersionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="pidfman.ws.genband.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="pidfman.ws.genband.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PIDFUserIFService">

      <wsdl:port binding="impl:PIDFUserService" name="PIDFUserService">

         <wsdlsoap:address location="http://localhost:80/sopi/services/PIDFUserService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
