ServPref.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="user.opi.ims.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="user.opi.ims.nortelnetworks.com" xmlns:intf="user.opi.ims.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns126="opi.ims.nortelnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="user.opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="ProvisionableEntity">
    <sequence/>
   </complexType>
   <complexType name="NameValue">
    <complexContent>
     <extension base="tns126:ProvisionableEntity">
      <sequence>
       <element name="name" nillable="true" type="soapenc:string"/>
       <element name="value" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="Service">
    <complexContent>
     <extension base="tns126:ProvisionableEntity">
      <sequence>
       <element name="parms" nillable="true" type="impl:ArrayOf_tns126_NameValue"/>
       <element name="service" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ServicePackage">
    <complexContent>
     <extension base="tns126:ProvisionableEntity">
      <sequence>
       <element name="name" nillable="true" type="soapenc:string"/>
       <element name="services" nillable="true" type="impl:ArrayOf_tns126_Service"/>
       <element name="type" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProvisionException">
    <sequence>
     <element name="defaultMessage" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="user.opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns126_NameValue">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns126:NameValue[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns126_Service">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns126:Service[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="removeAllUserPreferencesRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getUserServicePackageResponse">

      <wsdl:part name="getUserServicePackageReturn" type="tns126:ServicePackage"/>

   </wsdl:message>

   <wsdl:message name="modifyUserPreferencesResponse">

   </wsdl:message>

   <wsdl:message name="getUserServicePackageRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="modifyAllUserPreferencesResponse">

   </wsdl:message>

   <wsdl:message name="modifyUserPreferencesRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="tns126:Service"/>

   </wsdl:message>

   <wsdl:message name="getCustomServicePackageResponse">

      <wsdl:part name="getCustomServicePackageReturn" type="tns126:ServicePackage"/>

   </wsdl:message>

   <wsdl:message name="removeAllUserPreferencesResponse">

   </wsdl:message>

   <wsdl:message name="modifyAllUserPreferencesRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="impl:ArrayOf_tns126_Service"/>

   </wsdl:message>

   <wsdl:message name="ProvisionException">

      <wsdl:part name="fault" type="tns126:ProvisionException"/>

   </wsdl:message>

   <wsdl:message name="getAllUserPreferencesResponse">

      <wsdl:part name="getAllUserPreferencesReturn" type="impl:ArrayOf_tns126_Service"/>

   </wsdl:message>

   <wsdl:message name="getCustomServicePackageRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getAllUserPreferencesRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="UserSvcPkgMgr">

      <wsdl:operation name="getUserServicePackage" parameterOrder="in0">

         <wsdl:input message="impl:getUserServicePackageRequest" name="getUserServicePackageRequest"/>

         <wsdl:output message="impl:getUserServicePackageResponse" name="getUserServicePackageResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="modifyUserPreferences" parameterOrder="in0 in1">

         <wsdl:input message="impl:modifyUserPreferencesRequest" name="modifyUserPreferencesRequest"/>

         <wsdl:output message="impl:modifyUserPreferencesResponse" name="modifyUserPreferencesResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="modifyAllUserPreferences" parameterOrder="in0 in1">

         <wsdl:input message="impl:modifyAllUserPreferencesRequest" name="modifyAllUserPreferencesRequest"/>

         <wsdl:output message="impl:modifyAllUserPreferencesResponse" name="modifyAllUserPreferencesResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="removeAllUserPreferences" parameterOrder="in0">

         <wsdl:input message="impl:removeAllUserPreferencesRequest" name="removeAllUserPreferencesRequest"/>

         <wsdl:output message="impl:removeAllUserPreferencesResponse" name="removeAllUserPreferencesResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="getCustomServicePackage" parameterOrder="in0">

         <wsdl:input message="impl:getCustomServicePackageRequest" name="getCustomServicePackageRequest"/>

         <wsdl:output message="impl:getCustomServicePackageResponse" name="getCustomServicePackageResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="getAllUserPreferences" parameterOrder="in0">

         <wsdl:input message="impl:getAllUserPreferencesRequest" name="getAllUserPreferencesRequest"/>

         <wsdl:output message="impl:getAllUserPreferencesResponse" name="getAllUserPreferencesResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServPref" type="impl:UserSvcPkgMgr">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getUserServicePackage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserServicePackageRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUserServicePackageResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="modifyUserPreferences">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyUserPreferencesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modifyUserPreferencesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="modifyAllUserPreferences">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyAllUserPreferencesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modifyAllUserPreferencesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeAllUserPreferences">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeAllUserPreferencesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeAllUserPreferencesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getCustomServicePackage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCustomServicePackageRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCustomServicePackageResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAllUserPreferences">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllUserPreferencesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllUserPreferencesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserSvcPkgMgrService">

      <wsdl:port binding="impl:ServPref" name="ServPref">

         <wsdlsoap:address location="http://localhost:80/sopi/services/ServPref"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
