ServPrefConv.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="opi.ims.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="opi.ims.nortelnetworks.com" xmlns:intf="opi.ims.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ParmData">
    <sequence>
     <element name="acceptableValues" nillable="true" type="impl:ArrayOf_soapenc_string"/>
     <element name="affected" nillable="true" type="soapenc:string"/>
     <element name="internalName" nillable="true" type="soapenc:string"/>
     <element name="maxValue" type="xsd:int"/>
     <element name="minValue" type="xsd:int"/>
     <element name="parmType" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
   <complexType name="ProvisionException">
    <sequence>
     <element name="defaultMessage" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="ProvisionException">

      <wsdl:part name="fault" type="impl:ProvisionException"/>

   </wsdl:message>

   <wsdl:message name="getServiceDisplayNameByServiceNameResponse">

      <wsdl:part name="getServiceDisplayNameByServiceNameReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getServiceNameByServiceDisplayNameRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getParmDataRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

      <wsdl:part name="in2" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getServiceDisplayNameByServiceNameRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getParmDataResponse">

      <wsdl:part name="getParmDataReturn" type="impl:ParmData"/>

   </wsdl:message>

   <wsdl:message name="getServiceNameByServiceDisplayNameResponse">

      <wsdl:part name="getServiceNameByServiceDisplayNameReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getParameterNameByParameterDisplayNameResponse">

      <wsdl:part name="getParameterNameByParameterDisplayNameReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getParameterDisplayNameByParameterNameRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getParameterDisplayNameByParameterNameResponse">

      <wsdl:part name="getParameterDisplayNameByParameterNameReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getParameterNameByParameterDisplayNameRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="UserServiceMgr">

      <wsdl:operation name="getParmData" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:getParmDataRequest" name="getParmDataRequest"/>

         <wsdl:output message="impl:getParmDataResponse" name="getParmDataResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="getServiceDisplayNameByServiceName" parameterOrder="in0 in1">

         <wsdl:input message="impl:getServiceDisplayNameByServiceNameRequest" name="getServiceDisplayNameByServiceNameRequest"/>

         <wsdl:output message="impl:getServiceDisplayNameByServiceNameResponse" name="getServiceDisplayNameByServiceNameResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="getServiceNameByServiceDisplayName" parameterOrder="in0 in1">

         <wsdl:input message="impl:getServiceNameByServiceDisplayNameRequest" name="getServiceNameByServiceDisplayNameRequest"/>

         <wsdl:output message="impl:getServiceNameByServiceDisplayNameResponse" name="getServiceNameByServiceDisplayNameResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="getParameterNameByParameterDisplayName" parameterOrder="in0 in1">

         <wsdl:input message="impl:getParameterNameByParameterDisplayNameRequest" name="getParameterNameByParameterDisplayNameRequest"/>

         <wsdl:output message="impl:getParameterNameByParameterDisplayNameResponse" name="getParameterNameByParameterDisplayNameResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="getParameterDisplayNameByParameterName" parameterOrder="in0 in1">

         <wsdl:input message="impl:getParameterDisplayNameByParameterNameRequest" name="getParameterDisplayNameByParameterNameRequest"/>

         <wsdl:output message="impl:getParameterDisplayNameByParameterNameResponse" name="getParameterDisplayNameByParameterNameResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ServPrefConv" type="impl:UserServiceMgr">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getParmData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getParmDataRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getParmDataResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getServiceDisplayNameByServiceName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServiceDisplayNameByServiceNameRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getServiceDisplayNameByServiceNameResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getServiceNameByServiceDisplayName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServiceNameByServiceDisplayNameRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getServiceNameByServiceDisplayNameResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getParameterNameByParameterDisplayName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getParameterNameByParameterDisplayNameRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getParameterNameByParameterDisplayNameResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getParameterDisplayNameByParameterName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getParameterDisplayNameByParameterNameRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getParameterDisplayNameByParameterNameResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserServiceMgrService">

      <wsdl:port binding="impl:ServPrefConv" name="ServPrefConv">

         <wsdlsoap:address location="http://localhost:80/sopi/services/ServPrefConv"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
