SlaUserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="sla.ws.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="sla.ws.nortelnetworks.com" xmlns:intf="sla.ws.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="common.ws.nortelnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="common.ws.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="sla.ws.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="ProvisioningDataObject">
    <sequence/>
   </complexType>
   <complexType abstract="true" name="NaturalKeyDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="name" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ParmsList">
    <sequence>
     <element name="parmsList" nillable="true" type="impl:ArrayOf_soapenc_string"/>
     <element name="translate" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="ExceptionParms">
    <sequence>
     <element name="exceptionParms" nillable="true" type="impl:ArrayOf_tns2_ParmsList"/>
    </sequence>
   </complexType>
   <complexType name="ProvisioningException">
    <sequence>
     <element name="commonErrorCode" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
     <element name="methodName" nillable="true" type="soapenc:string"/>
     <element name="parms" nillable="true" type="tns2:ExceptionParms"/>
    </sequence>
   </complexType>
   <complexType name="WSVersionDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="currentVersion" nillable="true" type="soapenc:string"/>
       <element name="mcpVersionAdded" nillable="true" type="soapenc:string"/>
       <element name="mcpVersionLastUpdated" nillable="true" type="soapenc:string"/>
       <element name="supportedVersions" nillable="true" type="impl:ArrayOf_soapenc_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="sla.ws.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="common.ws.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="SlaTypeDO">
    <complexContent>
     <extension base="tns2:NaturalKeyDO">
      <sequence>
       <element name="longName" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfSlaTypeDO">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:SlaTypeDO[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_ParmsList">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:ParmsList[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="SlaInfoDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="active" type="xsd:boolean"/>
       <element name="bridgingAllowed" type="xsd:boolean"/>
       <element name="privateHoldAllowed" type="xsd:boolean"/>
       <element name="type" nillable="true" type="impl:SlaTypeDO"/>
       <element name="warningToneActive" type="xsd:boolean"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="setSlaInfoResponse">

   </wsdl:message>

   <wsdl:message name="getSlaInfoRequest">

   </wsdl:message>

   <wsdl:message name="getSlaTypeListResponse">

      <wsdl:part name="getSlaTypeListReturn" type="impl:ArrayOfSlaTypeDO"/>

   </wsdl:message>

   <wsdl:message name="getWSVersionRequest">

   </wsdl:message>

   <wsdl:message name="setSlaInfoRequest">

      <wsdl:part name="in0" type="impl:SlaInfoDO"/>

   </wsdl:message>

   <wsdl:message name="getSlaTypeListRequest">

   </wsdl:message>

   <wsdl:message name="ProvisioningException">

      <wsdl:part name="fault" type="tns2:ProvisioningException"/>

   </wsdl:message>

   <wsdl:message name="getSlaInfoResponse">

      <wsdl:part name="getSlaInfoReturn" type="impl:SlaInfoDO"/>

   </wsdl:message>

   <wsdl:message name="getWSVersionResponse">

      <wsdl:part name="getWSVersionReturn" type="tns2:WSVersionDO"/>

   </wsdl:message>

   <wsdl:portType name="SlaUserIF">

      <wsdl:operation name="getSlaTypeList">

         <wsdl:input message="impl:getSlaTypeListRequest" name="getSlaTypeListRequest"/>

         <wsdl:output message="impl:getSlaTypeListResponse" name="getSlaTypeListResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="setSlaInfo" parameterOrder="in0">

         <wsdl:input message="impl:setSlaInfoRequest" name="setSlaInfoRequest"/>

         <wsdl:output message="impl:setSlaInfoResponse" name="setSlaInfoResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getSlaInfo">

         <wsdl:input message="impl:getSlaInfoRequest" name="getSlaInfoRequest"/>

         <wsdl:output message="impl:getSlaInfoResponse" name="getSlaInfoResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getWSVersion">

         <wsdl:input message="impl:getWSVersionRequest" name="getWSVersionRequest"/>

         <wsdl:output message="impl:getWSVersionResponse" name="getWSVersionResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SlaUserService" type="impl:SlaUserIF">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getSlaTypeList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSlaTypeListRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="sla.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSlaTypeListResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="sla.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="sla.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="setSlaInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setSlaInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="sla.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setSlaInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="sla.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="sla.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getSlaInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSlaInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="sla.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSlaInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="sla.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="sla.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getWSVersion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWSVersionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="sla.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getWSVersionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="sla.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="sla.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SlaUserIFService">

      <wsdl:port binding="impl:SlaUserService" name="SlaUserService">

         <wsdlsoap:address location="http://localhost:8080/prov/services/SlaUserService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
