SOPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="user.opi.ims.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="user.opi.ims.nortelnetworks.com" xmlns:intf="user.opi.ims.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="user.opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getSupportedSOPIVersionsRequest">

   </wsdl:message>

   <wsdl:message name="getCurrentSOPIVersionRequest">

   </wsdl:message>

   <wsdl:message name="getSupportedSOPIVersionsResponse">

      <wsdl:part name="getSupportedSOPIVersionsReturn" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getCurrentSOPIVersionResponse">

      <wsdl:part name="getCurrentSOPIVersionReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="SOPIMgr">

      <wsdl:operation name="getCurrentSOPIVersion">

         <wsdl:input message="impl:getCurrentSOPIVersionRequest" name="getCurrentSOPIVersionRequest"/>

         <wsdl:output message="impl:getCurrentSOPIVersionResponse" name="getCurrentSOPIVersionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getSupportedSOPIVersions">

         <wsdl:input message="impl:getSupportedSOPIVersionsRequest" name="getSupportedSOPIVersionsRequest"/>

         <wsdl:output message="impl:getSupportedSOPIVersionsResponse" name="getSupportedSOPIVersionsResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SOPI" type="impl:SOPIMgr">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getCurrentSOPIVersion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCurrentSOPIVersionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getCurrentSOPIVersionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSupportedSOPIVersions">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSupportedSOPIVersionsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSupportedSOPIVersionsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="user.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SOPIMgrService">

      <wsdl:port binding="impl:SOPI" name="sopi">

         <wsdlsoap:address location="http://localhost:80/sopi/services/sopi"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
