TimeBlockUserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="timeblock.ws.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="timeblock.ws.nortelnetworks.com" xmlns:intf="timeblock.ws.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="common.ws.nortelnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="common.ws.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="timeblock.ws.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="ProvisioningDataObject">
    <sequence/>
   </complexType>
   <complexType abstract="true" name="NaturalKeyDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="name" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ParmsList">
    <sequence>
     <element name="parmsList" nillable="true" type="impl:ArrayOf_soapenc_string"/>
     <element name="translate" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="ExceptionParms">
    <sequence>
     <element name="exceptionParms" nillable="true" type="impl:ArrayOf_tns2_ParmsList"/>
    </sequence>
   </complexType>
   <complexType name="ProvisioningException">
    <sequence>
     <element name="commonErrorCode" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
     <element name="methodName" nillable="true" type="soapenc:string"/>
     <element name="parms" nillable="true" type="tns2:ExceptionParms"/>
    </sequence>
   </complexType>
   <complexType name="WSVersionDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="currentVersion" nillable="true" type="soapenc:string"/>
       <element name="mcpVersionAdded" nillable="true" type="soapenc:string"/>
       <element name="mcpVersionLastUpdated" nillable="true" type="soapenc:string"/>
       <element name="supportedVersions" nillable="true" type="impl:ArrayOf_soapenc_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="timeblock.ws.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="common.ws.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="TimeBlockGroupNaturalKeyDO">
    <complexContent>
     <extension base="tns2:NaturalKeyDO">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_boolean">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:boolean[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="TimeBlockDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="days" nillable="true" type="impl:ArrayOf_soapenc_boolean"/>
       <element name="startTime" nillable="true" type="soapenc:string"/>
       <element name="stopTime" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfTimeBlockDO">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:TimeBlockDO[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="TimeBlockGroupDO">
    <complexContent>
     <extension base="impl:TimeBlockGroupNaturalKeyDO">
      <sequence>
       <element name="timeBlocks" nillable="true" type="impl:ArrayOfTimeBlockDO"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_ParmsList">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:ParmsList[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfTimeBlockGroupDO">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:TimeBlockGroupDO[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="removeTimeBlockGroupsRequest">

   </wsdl:message>

   <wsdl:message name="removeTimeBlockGroupsResponse">

   </wsdl:message>

   <wsdl:message name="removeTimeBlockGroupRequest">

      <wsdl:part name="in0" type="impl:TimeBlockGroupNaturalKeyDO"/>

   </wsdl:message>

   <wsdl:message name="addTimeBlockGroupRequest">

      <wsdl:part name="in0" type="impl:TimeBlockGroupDO"/>

   </wsdl:message>

   <wsdl:message name="addTimeBlockGroupResponse">

   </wsdl:message>

   <wsdl:message name="getTimeBlockGroupsByUserRequest">

   </wsdl:message>

   <wsdl:message name="getTimeBlockGroupByNameRequest">

      <wsdl:part name="in0" type="impl:TimeBlockGroupNaturalKeyDO"/>

   </wsdl:message>

   <wsdl:message name="getWSVersionRequest">

   </wsdl:message>

   <wsdl:message name="getTimeBlockGroupByNameResponse">

      <wsdl:part name="getTimeBlockGroupByNameReturn" type="impl:TimeBlockGroupDO"/>

   </wsdl:message>

   <wsdl:message name="modifyTimeBlockGroupRequest">

      <wsdl:part name="in0" type="impl:TimeBlockGroupNaturalKeyDO"/>

      <wsdl:part name="in1" type="impl:TimeBlockGroupDO"/>

   </wsdl:message>

   <wsdl:message name="ProvisioningException">

      <wsdl:part name="fault" type="tns2:ProvisioningException"/>

   </wsdl:message>

   <wsdl:message name="removeTimeBlockGroupResponse">

   </wsdl:message>

   <wsdl:message name="getTimeBlockGroupsByUserResponse">

      <wsdl:part name="getTimeBlockGroupsByUserReturn" type="impl:ArrayOfTimeBlockGroupDO"/>

   </wsdl:message>

   <wsdl:message name="getWSVersionResponse">

      <wsdl:part name="getWSVersionReturn" type="tns2:WSVersionDO"/>

   </wsdl:message>

   <wsdl:message name="modifyTimeBlockGroupResponse">

   </wsdl:message>

   <wsdl:portType name="TimeBlockUserIF">

      <wsdl:operation name="addTimeBlockGroup" parameterOrder="in0">

         <wsdl:input message="impl:addTimeBlockGroupRequest" name="addTimeBlockGroupRequest"/>

         <wsdl:output message="impl:addTimeBlockGroupResponse" name="addTimeBlockGroupResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="removeTimeBlockGroup" parameterOrder="in0">

         <wsdl:input message="impl:removeTimeBlockGroupRequest" name="removeTimeBlockGroupRequest"/>

         <wsdl:output message="impl:removeTimeBlockGroupResponse" name="removeTimeBlockGroupResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="removeTimeBlockGroups">

         <wsdl:input message="impl:removeTimeBlockGroupsRequest" name="removeTimeBlockGroupsRequest"/>

         <wsdl:output message="impl:removeTimeBlockGroupsResponse" name="removeTimeBlockGroupsResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="modifyTimeBlockGroup" parameterOrder="in0 in1">

         <wsdl:input message="impl:modifyTimeBlockGroupRequest" name="modifyTimeBlockGroupRequest"/>

         <wsdl:output message="impl:modifyTimeBlockGroupResponse" name="modifyTimeBlockGroupResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getTimeBlockGroupByName" parameterOrder="in0">

         <wsdl:input message="impl:getTimeBlockGroupByNameRequest" name="getTimeBlockGroupByNameRequest"/>

         <wsdl:output message="impl:getTimeBlockGroupByNameResponse" name="getTimeBlockGroupByNameResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getTimeBlockGroupsByUser">

         <wsdl:input message="impl:getTimeBlockGroupsByUserRequest" name="getTimeBlockGroupsByUserRequest"/>

         <wsdl:output message="impl:getTimeBlockGroupsByUserResponse" name="getTimeBlockGroupsByUserResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getWSVersion">

         <wsdl:input message="impl:getWSVersionRequest" name="getWSVersionRequest"/>

         <wsdl:output message="impl:getWSVersionResponse" name="getWSVersionResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TimeBlockUserService" type="impl:TimeBlockUserIF">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addTimeBlockGroup">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addTimeBlockGroupRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="timeblock.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addTimeBlockGroupResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="timeblock.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="timeblock.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeTimeBlockGroup">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeTimeBlockGroupRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="timeblock.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeTimeBlockGroupResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="timeblock.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="timeblock.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeTimeBlockGroups">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeTimeBlockGroupsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="timeblock.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeTimeBlockGroupsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="timeblock.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="timeblock.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="modifyTimeBlockGroup">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyTimeBlockGroupRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="timeblock.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modifyTimeBlockGroupResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="timeblock.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="timeblock.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getTimeBlockGroupByName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTimeBlockGroupByNameRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="timeblock.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getTimeBlockGroupByNameResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="timeblock.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="timeblock.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getTimeBlockGroupsByUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTimeBlockGroupsByUserRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="timeblock.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getTimeBlockGroupsByUserResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="timeblock.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="timeblock.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getWSVersion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWSVersionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="timeblock.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getWSVersionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="timeblock.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="timeblock.ws.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TimeBlockUserIFService">

      <wsdl:port binding="impl:TimeBlockUserService" name="TimeBlockUserService">

         <wsdlsoap:address location="http://localhost:80/sopi/services/TimeBlockUserService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
