UConfUserService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="uconf.ws.genband.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="uconf.ws.genband.com" xmlns:intf="uconf.ws.genband.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns2="common.ws.nortelnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="common.ws.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="uconf.ws.genband.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="ProvisioningDataObject">
    <sequence/>
   </complexType>
   <complexType abstract="true" name="NaturalKeyDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="name" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ParmsList">
    <sequence>
     <element name="parmsList" nillable="true" type="impl:ArrayOf_soapenc_string"/>
     <element name="translate" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="ExceptionParms">
    <sequence>
     <element name="exceptionParms" nillable="true" type="impl:ArrayOf_tns2_ParmsList"/>
    </sequence>
   </complexType>
   <complexType name="ProvisioningException">
    <sequence>
     <element name="commonErrorCode" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
     <element name="methodName" nillable="true" type="soapenc:string"/>
     <element name="parms" nillable="true" type="tns2:ExceptionParms"/>
    </sequence>
   </complexType>
   <complexType name="WSVersionDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="currentVersion" nillable="true" type="soapenc:string"/>
       <element name="mcpVersionAdded" nillable="true" type="soapenc:string"/>
       <element name="mcpVersionLastUpdated" nillable="true" type="soapenc:string"/>
       <element name="supportedVersions" nillable="true" type="impl:ArrayOf_soapenc_string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="uconf.ws.genband.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="common.ws.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="UConfModeratorCodeDO">
    <complexContent>
     <extension base="tns2:NaturalKeyDO">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UConfUserInfoDO">
    <complexContent>
     <extension base="tns2:ProvisioningDataObject">
      <sequence>
       <element name="accessCode" nillable="true" type="soapenc:string"/>
       <element name="chairEndsConf" type="xsd:boolean"/>
       <element name="entryExit" nillable="true" type="soapenc:string"/>
       <element name="modCode" nillable="true" type="impl:UConfModeratorCodeDO"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns2_ParmsList">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns2:ParmsList[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getUConfUserDataResponse">

      <wsdl:part name="getUConfUserDataReturn" type="impl:UConfUserInfoDO"/>

   </wsdl:message>

   <wsdl:message name="getUConfDialUpNumbersRequest">

   </wsdl:message>

   <wsdl:message name="getUConfUserDataRequest">

   </wsdl:message>

   <wsdl:message name="setUConfUserDataResponse">

   </wsdl:message>

   <wsdl:message name="changeUConfModeratorCodeResponse">

   </wsdl:message>

   <wsdl:message name="ProvisioningException">

      <wsdl:part name="fault" type="tns2:ProvisioningException"/>

   </wsdl:message>

   <wsdl:message name="getWSVersionResponse">

      <wsdl:part name="getWSVersionReturn" type="tns2:WSVersionDO"/>

   </wsdl:message>

   <wsdl:message name="setUConfUserDataRequest">

      <wsdl:part name="in0" type="impl:UConfUserInfoDO"/>

   </wsdl:message>

   <wsdl:message name="changeUConfModeratorCodeRequest">

      <wsdl:part name="in0" type="impl:UConfModeratorCodeDO"/>

   </wsdl:message>

   <wsdl:message name="getWSVersionRequest">

   </wsdl:message>

   <wsdl:message name="getUConfDialUpNumbersResponse">

      <wsdl:part name="getUConfDialUpNumbersReturn" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:portType name="UConfUserIF">

      <wsdl:operation name="getUConfUserData">

         <wsdl:input message="impl:getUConfUserDataRequest" name="getUConfUserDataRequest"/>

         <wsdl:output message="impl:getUConfUserDataResponse" name="getUConfUserDataResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="setUConfUserData" parameterOrder="in0">

         <wsdl:input message="impl:setUConfUserDataRequest" name="setUConfUserDataRequest"/>

         <wsdl:output message="impl:setUConfUserDataResponse" name="setUConfUserDataResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getUConfDialUpNumbers">

         <wsdl:input message="impl:getUConfDialUpNumbersRequest" name="getUConfDialUpNumbersRequest"/>

         <wsdl:output message="impl:getUConfDialUpNumbersResponse" name="getUConfDialUpNumbersResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="changeUConfModeratorCode" parameterOrder="in0">

         <wsdl:input message="impl:changeUConfModeratorCodeRequest" name="changeUConfModeratorCodeRequest"/>

         <wsdl:output message="impl:changeUConfModeratorCodeResponse" name="changeUConfModeratorCodeResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

      <wsdl:operation name="getWSVersion">

         <wsdl:input message="impl:getWSVersionRequest" name="getWSVersionRequest"/>

         <wsdl:output message="impl:getWSVersionResponse" name="getWSVersionResponse"/>

         <wsdl:fault message="impl:ProvisioningException" name="ProvisioningException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UConfUserService" type="impl:UConfUserIF">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getUConfUserData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUConfUserDataRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="uconf.ws.genband.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUConfUserDataResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="uconf.ws.genband.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="uconf.ws.genband.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="setUConfUserData">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setUConfUserDataRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="uconf.ws.genband.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setUConfUserDataResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="uconf.ws.genband.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="uconf.ws.genband.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUConfDialUpNumbers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUConfDialUpNumbersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="uconf.ws.genband.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUConfDialUpNumbersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="uconf.ws.genband.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="uconf.ws.genband.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="changeUConfModeratorCode">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changeUConfModeratorCodeRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="uconf.ws.genband.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="changeUConfModeratorCodeResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="uconf.ws.genband.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="uconf.ws.genband.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getWSVersion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getWSVersionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="uconf.ws.genband.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getWSVersionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="uconf.ws.genband.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisioningException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisioningException" namespace="uconf.ws.genband.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UConfUserIFService">

      <wsdl:port binding="impl:UConfUserService" name="UConfUserService">

         <wsdlsoap:address location="http://localhost:80/sopi/services/UConfUserService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
