UserTeenRingTone.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="userringtone.opi.ims.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="userringtone.opi.ims.nortelnetworks.com" xmlns:intf="userringtone.opi.ims.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns126="opi.ims.nortelnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="userringtone.opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ProvisionException">
    <sequence>
     <element name="defaultMessage" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="userringtone.opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getUserTeenRingToneNameRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="ProvisionException">

      <wsdl:part name="fault" type="tns126:ProvisionException"/>

   </wsdl:message>

   <wsdl:message name="getUserTeenRingToneNameResponse">

      <wsdl:part name="getUserTeenRingToneNameReturn" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="removeUserTeenRingToneRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="setUserTeenRingToneResponse">

   </wsdl:message>

   <wsdl:message name="getAllAvailableTeenRingTonesResponse">

      <wsdl:part name="getAllAvailableTeenRingTonesReturn" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getAllAvailableTeenRingTonesRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="removeUserTeenRingToneResponse">

   </wsdl:message>

   <wsdl:message name="setUserTeenRingToneRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="UserTeenRingToneMgr">

      <wsdl:operation name="setUserTeenRingTone" parameterOrder="in0 in1">

         <wsdl:input message="impl:setUserTeenRingToneRequest" name="setUserTeenRingToneRequest"/>

         <wsdl:output message="impl:setUserTeenRingToneResponse" name="setUserTeenRingToneResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="getUserTeenRingToneName" parameterOrder="in0">

         <wsdl:input message="impl:getUserTeenRingToneNameRequest" name="getUserTeenRingToneNameRequest"/>

         <wsdl:output message="impl:getUserTeenRingToneNameResponse" name="getUserTeenRingToneNameResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="getAllAvailableTeenRingTones" parameterOrder="in0">

         <wsdl:input message="impl:getAllAvailableTeenRingTonesRequest" name="getAllAvailableTeenRingTonesRequest"/>

         <wsdl:output message="impl:getAllAvailableTeenRingTonesResponse" name="getAllAvailableTeenRingTonesResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="removeUserTeenRingTone" parameterOrder="in0">

         <wsdl:input message="impl:removeUserTeenRingToneRequest" name="removeUserTeenRingToneRequest"/>

         <wsdl:output message="impl:removeUserTeenRingToneResponse" name="removeUserTeenRingToneResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserTeenRingTone" type="impl:UserTeenRingToneMgr">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="setUserTeenRingTone">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setUserTeenRingToneRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="userringtone.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setUserTeenRingToneResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="userringtone.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="userringtone.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUserTeenRingToneName">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserTeenRingToneNameRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="userringtone.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUserTeenRingToneNameResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="userringtone.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="userringtone.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAllAvailableTeenRingTones">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllAvailableTeenRingTonesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="userringtone.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllAvailableTeenRingTonesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="userringtone.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="userringtone.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeUserTeenRingTone">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeUserTeenRingToneRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="userringtone.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeUserTeenRingToneResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="userringtone.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="userringtone.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserTeenRingToneMgrService">

      <wsdl:port binding="impl:UserTeenRingTone" name="UserTeenRingTone">

         <wsdlsoap:address location="http://localhost:80/sopi/services/UserTeenRingTone"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
