UserWatchers.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="userwatcher.opi.ims.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="userwatcher.opi.ims.nortelnetworks.com" xmlns:intf="userwatcher.opi.ims.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns126="opi.ims.nortelnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="userwatcher.opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="ProvisionableEntity">
    <sequence/>
   </complexType>
   <complexType name="ProvisionException">
    <sequence>
     <element name="defaultMessage" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="userwatcher.opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="UserPresence">
    <complexContent>
     <extension base="tns126:ProvisionableEntity">
      <sequence>
       <element name="notes" nillable="true" type="soapenc:string"/>
       <element name="status" nillable="true" type="soapenc:string"/>
       <element name="userName" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="UserWatcher">
    <complexContent>
     <extension base="tns126:ProvisionableEntity">
      <sequence>
       <element name="displayName" nillable="true" type="soapenc:string"/>
       <element name="durationSubscribed" type="xsd:long"/>
       <element name="pending" type="xsd:boolean"/>
       <element name="url" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfUserWatcher">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:UserWatcher[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="UserWatcherInfo">
    <complexContent>
     <extension base="tns126:ProvisionableEntity">
      <sequence>
       <element name="userWatchers" nillable="true" type="impl:ArrayOfUserWatcher"/>
       <element name="version" type="xsd:long"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="ProvisionException">

      <wsdl:part name="fault" type="tns126:ProvisionException"/>

   </wsdl:message>

   <wsdl:message name="getUserWatchersRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getUserWatchersResponse">

      <wsdl:part name="getUserWatchersReturn" type="impl:UserWatcherInfo"/>

   </wsdl:message>

   <wsdl:message name="getUserPresenceRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getUserPresenceResponse">

      <wsdl:part name="getUserPresenceReturn" type="impl:UserPresence"/>

   </wsdl:message>

   <wsdl:portType name="UserWatcherMgr">

      <wsdl:operation name="getUserPresence" parameterOrder="in0 in1">

         <wsdl:input message="impl:getUserPresenceRequest" name="getUserPresenceRequest"/>

         <wsdl:output message="impl:getUserPresenceResponse" name="getUserPresenceResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="getUserWatchers" parameterOrder="in0">

         <wsdl:input message="impl:getUserWatchersRequest" name="getUserWatchersRequest"/>

         <wsdl:output message="impl:getUserWatchersResponse" name="getUserWatchersResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserWatchers" type="impl:UserWatcherMgr">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getUserPresence">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserPresenceRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="userwatcher.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUserPresenceResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="userwatcher.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="userwatcher.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUserWatchers">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserWatchersRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="userwatcher.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUserWatchersResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="userwatcher.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="userwatcher.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserWatcherMgrService">

      <wsdl:port binding="impl:UserWatchers" name="UserWatchers">

         <wsdlsoap:address location="http://localhost:80/sopi/services/UserWatchers"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
