UserShortDialingCodeFeatureInfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="shortdialingcode.opi.ims.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="shortdialingcode.opi.ims.nortelnetworks.com" xmlns:intf="shortdialingcode.opi.ims.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns126="opi.ims.nortelnetworks.com" xmlns:tns233="featurexla.opi.ims.nortelnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="shortdialingcode.opi.ims.nortelnetworks.com"/>
   <import namespace="featurexla.opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="ProvisionableEntity">
    <sequence/>
   </complexType>
   <complexType name="ProvisionException">
    <sequence>
     <element name="defaultMessage" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="featurexla.opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="shortdialingcode.opi.ims.nortelnetworks.com"/>
   <import namespace="opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="BaseFeatureXLA">
    <complexContent>
     <extension base="tns126:ProvisionableEntity">
      <sequence>
       <element name="featureXLAName" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType abstract="true" name="StarcodeFeatureXLA">
    <complexContent>
     <extension base="tns233:BaseFeatureXLA">
      <sequence>
       <element name="prefix" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType abstract="true" name="URIRequiredFeatureXLA">
    <complexContent>
     <extension base="tns233:StarcodeFeatureXLA">
      <sequence>
       <element name="uri" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="shortdialingcode.opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="opi.ims.nortelnetworks.com"/>
   <import namespace="featurexla.opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ShortDialingCodeFeatureXLA">
    <complexContent>
     <extension base="tns233:URIRequiredFeatureXLA">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfShortDialingCodeFeatureXLA">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:ShortDialingCodeFeatureXLA[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllUserShortDialingCodeFeatureInfoRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="ProvisionException">

      <wsdl:part name="fault" type="tns126:ProvisionException"/>

   </wsdl:message>

   <wsdl:message name="getAllUserShortDialingCodeFeatureInfoResponse">

      <wsdl:part name="getAllUserShortDialingCodeFeatureInfoReturn" type="impl:ArrayOfShortDialingCodeFeatureXLA"/>

   </wsdl:message>

   <wsdl:message name="getUserShortDialingCodeFeatureXLAByPrefixRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getUserShortDialingCodeFeatureXLAByPrefixResponse">

      <wsdl:part name="getUserShortDialingCodeFeatureXLAByPrefixReturn" type="impl:ShortDialingCodeFeatureXLA"/>

   </wsdl:message>

   <wsdl:message name="getUserShortDialingCodeFeatureInfoRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getUserShortDialingCodeFeatureInfoResponse">

      <wsdl:part name="getUserShortDialingCodeFeatureInfoReturn" type="impl:ShortDialingCodeFeatureXLA"/>

   </wsdl:message>

   <wsdl:portType name="UserShortDialingCodeFeatureInfoMgr">

      <wsdl:operation name="getUserShortDialingCodeFeatureInfo" parameterOrder="in0 in1">

         <wsdl:input message="impl:getUserShortDialingCodeFeatureInfoRequest" name="getUserShortDialingCodeFeatureInfoRequest"/>

         <wsdl:output message="impl:getUserShortDialingCodeFeatureInfoResponse" name="getUserShortDialingCodeFeatureInfoResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="getAllUserShortDialingCodeFeatureInfo" parameterOrder="in0">

         <wsdl:input message="impl:getAllUserShortDialingCodeFeatureInfoRequest" name="getAllUserShortDialingCodeFeatureInfoRequest"/>

         <wsdl:output message="impl:getAllUserShortDialingCodeFeatureInfoResponse" name="getAllUserShortDialingCodeFeatureInfoResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="getUserShortDialingCodeFeatureXLAByPrefix" parameterOrder="in0 in1">

         <wsdl:input message="impl:getUserShortDialingCodeFeatureXLAByPrefixRequest" name="getUserShortDialingCodeFeatureXLAByPrefixRequest"/>

         <wsdl:output message="impl:getUserShortDialingCodeFeatureXLAByPrefixResponse" name="getUserShortDialingCodeFeatureXLAByPrefixResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserShortDialingCodeFeatureInfo" type="impl:UserShortDialingCodeFeatureInfoMgr">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getUserShortDialingCodeFeatureInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserShortDialingCodeFeatureInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="shortdialingcode.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUserShortDialingCodeFeatureInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="shortdialingcode.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="shortdialingcode.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAllUserShortDialingCodeFeatureInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllUserShortDialingCodeFeatureInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="shortdialingcode.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllUserShortDialingCodeFeatureInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="shortdialingcode.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="shortdialingcode.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUserShortDialingCodeFeatureXLAByPrefix">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserShortDialingCodeFeatureXLAByPrefixRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="shortdialingcode.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUserShortDialingCodeFeatureXLAByPrefixResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="shortdialingcode.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="shortdialingcode.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserShortDialingCodeFeatureInfoMgrService">

      <wsdl:port binding="impl:UserShortDialingCodeFeatureInfo" name="UserShortDialingCodeFeatureInfo">

         <wsdlsoap:address location="http://localhost:80/sopi/services/UserShortDialingCodeFeatureInfo"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
