UserMultiAttenInfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="multiatten.opi.ims.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="multiatten.opi.ims.nortelnetworks.com" xmlns:intf="multiatten.opi.ims.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns126="opi.ims.nortelnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="multiatten.opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="multiatten.opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ProvisionException">
    <sequence>
     <element name="defaultMessage" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="ProvisionException">

      <wsdl:part name="fault" type="tns126:ProvisionException"/>

   </wsdl:message>

   <wsdl:message name="getAllAttendantsForUserRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getAllAttendedUsersForUserRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getAllAttendantsForUserResponse">

      <wsdl:part name="getAllAttendantsForUserReturn" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="getAllAttendedUsersForUserResponse">

      <wsdl:part name="getAllAttendedUsersForUserReturn" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:portType name="UserMultiAttenInfoMgr">

      <wsdl:operation name="getAllAttendantsForUser" parameterOrder="in0">

         <wsdl:input message="impl:getAllAttendantsForUserRequest" name="getAllAttendantsForUserRequest"/>

         <wsdl:output message="impl:getAllAttendantsForUserResponse" name="getAllAttendantsForUserResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="getAllAttendedUsersForUser" parameterOrder="in0">

         <wsdl:input message="impl:getAllAttendedUsersForUserRequest" name="getAllAttendedUsersForUserRequest"/>

         <wsdl:output message="impl:getAllAttendedUsersForUserResponse" name="getAllAttendedUsersForUserResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserMultiAttenInfo" type="impl:UserMultiAttenInfoMgr">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAllAttendantsForUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllAttendantsForUserRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="multiatten.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllAttendantsForUserResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="multiatten.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="multiatten.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAllAttendedUsersForUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllAttendedUsersForUserRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="multiatten.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllAttendedUsersForUserResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="multiatten.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="multiatten.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserMultiAttenInfoMgrService">

      <wsdl:port binding="impl:UserMultiAttenInfo" name="UserMultiAttenInfo">

         <wsdlsoap:address location="http://localhost:80/sopi/services/UserMultiAttenInfo"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
