UserMCTFeatureInfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="mctfeaturexla.opi.ims.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="mctfeaturexla.opi.ims.nortelnetworks.com" xmlns:intf="mctfeaturexla.opi.ims.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns126="opi.ims.nortelnetworks.com" xmlns:tns233="featurexla.opi.ims.nortelnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="mctfeaturexla.opi.ims.nortelnetworks.com"/>
   <import namespace="featurexla.opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="ProvisionableEntity">
    <sequence/>
   </complexType>
   <complexType name="ProvisionException">
    <sequence>
     <element name="defaultMessage" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="featurexla.opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="mctfeaturexla.opi.ims.nortelnetworks.com"/>
   <import namespace="opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="BaseFeatureXLA">
    <complexContent>
     <extension base="tns126:ProvisionableEntity">
      <sequence>
       <element name="featureXLAName" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType abstract="true" name="StarcodeFeatureXLA">
    <complexContent>
     <extension base="tns233:BaseFeatureXLA">
      <sequence>
       <element name="prefix" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="mctfeaturexla.opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="opi.ims.nortelnetworks.com"/>
   <import namespace="featurexla.opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="MCTFeatureXLA">
    <complexContent>
     <extension base="tns233:StarcodeFeatureXLA">
      <sequence/>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfMCTFeatureXLA">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:MCTFeatureXLA[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAllUserMCTFeatureInfoRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getUserMCTFeatureXLAByPrefixRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getAllUserMCTFeatureInfoResponse">

      <wsdl:part name="getAllUserMCTFeatureInfoReturn" type="impl:ArrayOfMCTFeatureXLA"/>

   </wsdl:message>

   <wsdl:message name="getUserMCTFeatureInfoRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getUserMCTFeatureInfoResponse">

      <wsdl:part name="getUserMCTFeatureInfoReturn" type="impl:MCTFeatureXLA"/>

   </wsdl:message>

   <wsdl:message name="getUserMCTFeatureXLAByPrefixResponse">

      <wsdl:part name="getUserMCTFeatureXLAByPrefixReturn" type="impl:MCTFeatureXLA"/>

   </wsdl:message>

   <wsdl:message name="ProvisionException">

      <wsdl:part name="fault" type="tns126:ProvisionException"/>

   </wsdl:message>

   <wsdl:portType name="UserMCTFeatureInfoMgr">

      <wsdl:operation name="getUserMCTFeatureInfo" parameterOrder="in0 in1">

         <wsdl:input message="impl:getUserMCTFeatureInfoRequest" name="getUserMCTFeatureInfoRequest"/>

         <wsdl:output message="impl:getUserMCTFeatureInfoResponse" name="getUserMCTFeatureInfoResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="getAllUserMCTFeatureInfo" parameterOrder="in0">

         <wsdl:input message="impl:getAllUserMCTFeatureInfoRequest" name="getAllUserMCTFeatureInfoRequest"/>

         <wsdl:output message="impl:getAllUserMCTFeatureInfoResponse" name="getAllUserMCTFeatureInfoResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="getUserMCTFeatureXLAByPrefix" parameterOrder="in0 in1">

         <wsdl:input message="impl:getUserMCTFeatureXLAByPrefixRequest" name="getUserMCTFeatureXLAByPrefixRequest"/>

         <wsdl:output message="impl:getUserMCTFeatureXLAByPrefixResponse" name="getUserMCTFeatureXLAByPrefixResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserMCTFeatureInfo" type="impl:UserMCTFeatureInfoMgr">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getUserMCTFeatureInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserMCTFeatureInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mctfeaturexla.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUserMCTFeatureInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mctfeaturexla.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="mctfeaturexla.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAllUserMCTFeatureInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllUserMCTFeatureInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mctfeaturexla.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllUserMCTFeatureInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mctfeaturexla.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="mctfeaturexla.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUserMCTFeatureXLAByPrefix">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserMCTFeatureXLAByPrefixRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mctfeaturexla.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUserMCTFeatureXLAByPrefixResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="mctfeaturexla.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="mctfeaturexla.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserMCTFeatureInfoMgrService">

      <wsdl:port binding="impl:UserMCTFeatureInfo" name="UserMCTFeatureInfo">

         <wsdlsoap:address location="http://localhost:80/sopi/services/UserMCTFeatureInfo"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
