UserMatchCriteria.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="matchcriteria.opi.ims.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="matchcriteria.opi.ims.nortelnetworks.com" xmlns:intf="matchcriteria.opi.ims.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns126="opi.ims.nortelnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="matchcriteria.opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="ProvisionableEntity">
    <sequence/>
   </complexType>
   <complexType name="ProvisionException">
    <sequence>
     <element name="defaultMessage" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="matchcriteria.opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="MatchCriteriaData">
    <complexContent>
     <extension base="tns126:ProvisionableEntity">
      <sequence>
       <element name="matchCriteriaNumber" type="xsd:int"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="ProvisionException">

      <wsdl:part name="fault" type="tns126:ProvisionException"/>

   </wsdl:message>

   <wsdl:message name="getMatchCriteriaNumberRequest">

   </wsdl:message>

   <wsdl:message name="getMatchCriteriaNumberResponse">

      <wsdl:part name="getMatchCriteriaNumberReturn" type="impl:MatchCriteriaData"/>

   </wsdl:message>

   <wsdl:portType name="UserMatchCriteriaMgr">

      <wsdl:operation name="getMatchCriteriaNumber">

         <wsdl:input message="impl:getMatchCriteriaNumberRequest" name="getMatchCriteriaNumberRequest"/>

         <wsdl:output message="impl:getMatchCriteriaNumberResponse" name="getMatchCriteriaNumberResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserMatchCriteria" type="impl:UserMatchCriteriaMgr">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getMatchCriteriaNumber">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getMatchCriteriaNumberRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="matchcriteria.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getMatchCriteriaNumberResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="matchcriteria.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="matchcriteria.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserMatchCriteriaMgrService">

      <wsdl:port binding="impl:UserMatchCriteria" name="UserMatchCriteria">

         <wsdlsoap:address location="http://localhost:80/sopi/services/UserMatchCriteria"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
