UserVSCFeatureInfo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="vsc.opi.ims.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="vsc.opi.ims.nortelnetworks.com" xmlns:intf="vsc.opi.ims.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns126="opi.ims.nortelnetworks.com" xmlns:tns233="featurexla.opi.ims.nortelnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="vsc.opi.ims.nortelnetworks.com"/>
   <import namespace="featurexla.opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="ProvisionableEntity">
    <sequence/>
   </complexType>
   <complexType name="ProvisionException">
    <sequence>
     <element name="defaultMessage" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="featurexla.opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="vsc.opi.ims.nortelnetworks.com"/>
   <import namespace="opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="BaseFeatureXLA">
    <complexContent>
     <extension base="tns126:ProvisionableEntity">
      <sequence>
       <element name="featureXLAName" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType abstract="true" name="StarcodeFeatureXLA">
    <complexContent>
     <extension base="tns233:BaseFeatureXLA">
      <sequence>
       <element name="prefix" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
  <schema targetNamespace="vsc.opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="opi.ims.nortelnetworks.com"/>
   <import namespace="featurexla.opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="VSCFeatureXLA">
    <complexContent>
     <extension base="tns233:StarcodeFeatureXLA">
      <sequence>
       <element name="starcodeService" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOfVSCFeatureXLA">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="impl:VSCFeatureXLA[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getUserVSCFeatureInfoResponse">

      <wsdl:part name="getUserVSCFeatureInfoReturn" type="impl:VSCFeatureXLA"/>

   </wsdl:message>

   <wsdl:message name="getAllUserVSCFeatureInfoResponse">

      <wsdl:part name="getAllUserVSCFeatureInfoReturn" type="impl:ArrayOfVSCFeatureXLA"/>

   </wsdl:message>

   <wsdl:message name="getUserVSCFeatureXLAByPrefixResponse">

      <wsdl:part name="getUserVSCFeatureXLAByPrefixReturn" type="impl:VSCFeatureXLA"/>

   </wsdl:message>

   <wsdl:message name="getUserVSCFeatureXLAByPrefixRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="ProvisionException">

      <wsdl:part name="fault" type="tns126:ProvisionException"/>

   </wsdl:message>

   <wsdl:message name="getAllUserVSCFeatureInfoRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getUserVSCFeatureInfoRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:portType name="UserVSCFeatureInfoMgr">

      <wsdl:operation name="getUserVSCFeatureInfo" parameterOrder="in0 in1">

         <wsdl:input message="impl:getUserVSCFeatureInfoRequest" name="getUserVSCFeatureInfoRequest"/>

         <wsdl:output message="impl:getUserVSCFeatureInfoResponse" name="getUserVSCFeatureInfoResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="getAllUserVSCFeatureInfo" parameterOrder="in0">

         <wsdl:input message="impl:getAllUserVSCFeatureInfoRequest" name="getAllUserVSCFeatureInfoRequest"/>

         <wsdl:output message="impl:getAllUserVSCFeatureInfoResponse" name="getAllUserVSCFeatureInfoResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="getUserVSCFeatureXLAByPrefix" parameterOrder="in0 in1">

         <wsdl:input message="impl:getUserVSCFeatureXLAByPrefixRequest" name="getUserVSCFeatureXLAByPrefixRequest"/>

         <wsdl:output message="impl:getUserVSCFeatureXLAByPrefixResponse" name="getUserVSCFeatureXLAByPrefixResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserVSCFeatureInfo" type="impl:UserVSCFeatureInfoMgr">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getUserVSCFeatureInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserVSCFeatureInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="vsc.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUserVSCFeatureInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="vsc.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="vsc.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getAllUserVSCFeatureInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllUserVSCFeatureInfoRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="vsc.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getAllUserVSCFeatureInfoResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="vsc.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="vsc.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getUserVSCFeatureXLAByPrefix">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserVSCFeatureXLAByPrefixRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="vsc.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUserVSCFeatureXLAByPrefixResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="vsc.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="vsc.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserVSCFeatureInfoMgrService">

      <wsdl:port binding="impl:UserVSCFeatureInfo" name="UserVSCFeatureInfo">

         <wsdlsoap:address location="http://localhost:80/sopi/services/UserVSCFeatureInfo"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
