UserPicture.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="opi.ims.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="opi.ims.nortelnetworks.com" xmlns:intf="opi.ims.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="ProvisionableEntity">
    <sequence/>
   </complexType>
   <complexType name="UserPicture">
    <complexContent>
     <extension base="impl:ProvisionableEntity">
      <sequence>
       <element name="contentType" nillable="true" type="soapenc:string"/>
       <element name="picture" nillable="true" type="soapenc:base64Binary"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ProvisionException">
    <sequence>
     <element name="defaultMessage" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="ProvisionException">

      <wsdl:part name="fault" type="impl:ProvisionException"/>

   </wsdl:message>

   <wsdl:message name="getUserPictureResponse">

      <wsdl:part name="getUserPictureReturn" type="impl:UserPicture"/>

   </wsdl:message>

   <wsdl:message name="removeUserPictureRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getUserPictureRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="modifyUserPictureResponse">

   </wsdl:message>

   <wsdl:message name="removeUserPictureResponse">

   </wsdl:message>

   <wsdl:message name="addUserPictureResponse">

   </wsdl:message>

   <wsdl:message name="modifyUserPictureRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="impl:UserPicture"/>

   </wsdl:message>

   <wsdl:message name="addUserPictureRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="impl:UserPicture"/>

   </wsdl:message>

   <wsdl:portType name="UserPictureMgr">

      <wsdl:operation name="getUserPicture" parameterOrder="in0">

         <wsdl:input message="impl:getUserPictureRequest" name="getUserPictureRequest"/>

         <wsdl:output message="impl:getUserPictureResponse" name="getUserPictureResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="modifyUserPicture" parameterOrder="in0 in1">

         <wsdl:input message="impl:modifyUserPictureRequest" name="modifyUserPictureRequest"/>

         <wsdl:output message="impl:modifyUserPictureResponse" name="modifyUserPictureResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="addUserPicture" parameterOrder="in0 in1">

         <wsdl:input message="impl:addUserPictureRequest" name="addUserPictureRequest"/>

         <wsdl:output message="impl:addUserPictureResponse" name="addUserPictureResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="removeUserPicture" parameterOrder="in0">

         <wsdl:input message="impl:removeUserPictureRequest" name="removeUserPictureRequest"/>

         <wsdl:output message="impl:removeUserPictureResponse" name="removeUserPictureResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="UserPicture" type="impl:UserPictureMgr">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getUserPicture">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUserPictureRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getUserPictureResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="modifyUserPicture">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="modifyUserPictureRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="modifyUserPictureResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="addUserPicture">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addUserPictureRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addUserPictureResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeUserPicture">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeUserPictureRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeUserPictureResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="UserPictureMgrService">

      <wsdl:port binding="impl:UserPicture" name="UserPicture">

         <wsdlsoap:address location="http://localhost:80/sopi/services/UserPicture"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
