XMPPCredentials.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="xmpp.opi.ims.nortelnetworks.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="xmpp.opi.ims.nortelnetworks.com" xmlns:intf="xmpp.opi.ims.nortelnetworks.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns126="opi.ims.nortelnetworks.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema targetNamespace="opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="xmpp.opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType abstract="true" name="ProvisionableEntity">
    <sequence/>
   </complexType>
   <complexType name="ProvisionException">
    <sequence>
     <element name="defaultMessage" nillable="true" type="soapenc:string"/>
     <element name="errorCode" nillable="true" type="soapenc:string"/>
     <element name="message" nillable="true" type="soapenc:string"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="xmpp.opi.ims.nortelnetworks.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="opi.ims.nortelnetworks.com"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="XMPPCredential">
    <complexContent>
     <extension base="tns126:ProvisionableEntity">
      <sequence>
       <element name="password" nillable="true" type="soapenc:string"/>
       <element name="userName" nillable="true" type="soapenc:string"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_soapenc_string">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="soapenc:string[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="getSupportedXMPPCredentialTypesResponse">

      <wsdl:part name="getSupportedXMPPCredentialTypesReturn" type="impl:ArrayOf_soapenc_string"/>

   </wsdl:message>

   <wsdl:message name="setXMPPCredentialRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

      <wsdl:part name="in2" type="impl:XMPPCredential"/>

   </wsdl:message>

   <wsdl:message name="removeXMPPCredentialRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="setXMPPCredentialResponse">

   </wsdl:message>

   <wsdl:message name="getXMPPCredentialRequest">

      <wsdl:part name="in0" type="soapenc:string"/>

      <wsdl:part name="in1" type="soapenc:string"/>

   </wsdl:message>

   <wsdl:message name="getXMPPCredentialResponse">

      <wsdl:part name="getXMPPCredentialReturn" type="impl:XMPPCredential"/>

   </wsdl:message>

   <wsdl:message name="getSupportedXMPPCredentialTypesRequest">

   </wsdl:message>

   <wsdl:message name="removeXMPPCredentialResponse">

   </wsdl:message>

   <wsdl:message name="ProvisionException">

      <wsdl:part name="fault" type="tns126:ProvisionException"/>

   </wsdl:message>

   <wsdl:portType name="XMPPCredentialMgr">

      <wsdl:operation name="getXMPPCredential" parameterOrder="in0 in1">

         <wsdl:input message="impl:getXMPPCredentialRequest" name="getXMPPCredentialRequest"/>

         <wsdl:output message="impl:getXMPPCredentialResponse" name="getXMPPCredentialResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="setXMPPCredential" parameterOrder="in0 in1 in2">

         <wsdl:input message="impl:setXMPPCredentialRequest" name="setXMPPCredentialRequest"/>

         <wsdl:output message="impl:setXMPPCredentialResponse" name="setXMPPCredentialResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="removeXMPPCredential" parameterOrder="in0 in1">

         <wsdl:input message="impl:removeXMPPCredentialRequest" name="removeXMPPCredentialRequest"/>

         <wsdl:output message="impl:removeXMPPCredentialResponse" name="removeXMPPCredentialResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

      <wsdl:operation name="getSupportedXMPPCredentialTypes">

         <wsdl:input message="impl:getSupportedXMPPCredentialTypesRequest" name="getSupportedXMPPCredentialTypesRequest"/>

         <wsdl:output message="impl:getSupportedXMPPCredentialTypesResponse" name="getSupportedXMPPCredentialTypesResponse"/>

         <wsdl:fault message="impl:ProvisionException" name="ProvisionException"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="XMPPCredentials" type="impl:XMPPCredentialMgr">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getXMPPCredential">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getXMPPCredentialRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="xmpp.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getXMPPCredentialResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="xmpp.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="xmpp.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="setXMPPCredential">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="setXMPPCredentialRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="xmpp.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="setXMPPCredentialResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="xmpp.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="xmpp.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="removeXMPPCredential">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeXMPPCredentialRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="xmpp.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="removeXMPPCredentialResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="xmpp.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="xmpp.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

      <wsdl:operation name="getSupportedXMPPCredentialTypes">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSupportedXMPPCredentialTypesRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="xmpp.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="getSupportedXMPPCredentialTypesResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="xmpp.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:output>

         <wsdl:fault name="ProvisionException">

            <wsdlsoap:fault encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" name="ProvisionException" namespace="xmpp.opi.ims.nortelnetworks.com" use="encoded"/>

         </wsdl:fault>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="XMPPCredentialMgrService">

      <wsdl:port binding="impl:XMPPCredentials" name="XMPPCredentials">

         <wsdlsoap:address location="http://localhost:80/sopi/services/XMPPCredentials"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
